<template>
  <div>
    <section class="section-meals">
      <ul class="meals-showcase clearfix">
        <li>
          <figure class="meal-photo">
            <img
              src="https://images.pexels.com/photos/164821/pexels-photo-164821.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt="Korean bibimbap with egg and vegetables"
            />
            <button @click="goTo" class="b">Note</button>
          </figure>
        </li>
        <li>
          <figure class="meal-photo">
            <img
              src="https://images.pexels.com/photos/144429/pexels-photo-144429.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt="Simple italian pizza with cherry tomatoes"
            />
            <button @click="linkTo" class="b">Singing</button>
          </figure>
        </li>
        <li>
          <figure class="meal-photo">
            <img
              src="https://images.pexels.com/photos/258283/pexels-photo-258283.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt="Chicken breast steak with vegetables"
            />
            <button @click="goToLink" class="b">Guitar</button>
          </figure>
        </li>
        <li>
          <figure class="meal-photo">
            <img
              src="https://images.pexels.com/photos/6192756/pexels-photo-6192756.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="Autumn pumpkin soup"
            />
            <button @click="goToLink" class="b">Practice Piano</button>
          </figure>
        </li>
      </ul>
    </section>
  </div>
</template>
<script>
export default {
  methods: {
    goTo() {
      this.$router.push("/galery/note");
    },
    linkTo() {
      this.$router.push("/galery/singing");
    },
    goToLink() {
      this.$router.push("/galery/guitar");
    },
    goToLink() {
      this.$router.push("/galery/learnpiano");
    },
  },
};
</script>

<style scoped>
.section-meals {
  padding-right: 1em;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}
.b {
  color: orange;
  padding: 1em;
  font-size: 1.5em;
  letter-spacing: 1px;
}
.btnwidth {
  width: 10rem;
}
.b:hover {
  color: white;
  transition: ease-in-out 0.6s;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  filter: sepia(100%);
}

.meal-photo img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  filter: contrast(180%);
}
@media only screen and (max-width: 600px) {
  .meal-photo {
    max-width: 10rem;
    height: 25vh;
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 480px) {
  .meal-photo {
    max-width: 10rem;
    height: 25vh;
    font-size: 0.9rem;
  }
}
</style>
