<template>
  <div>
    <header>
      <div class="hero">
        <h1>PIANO PRACTICE</h1>
        <h2>The Beginner’s Guide to Learning Piano</h2>
      </div>
    </header>
    <b-container>
      <b-row class="content">
        <b-col
          sm="5"
          class="p-3 m-3"
          v-for="pract in practiceContent"
          :key="pract.title"
        >
          <h1>{{ pract.title }}</h1>
          <p>{{ pract.description }}</p>
        </b-col>
        <img
          src="https://images.prismic.io/flowkey/847c4166-7858-4e91-985b-c7b9f01e9a06_piano-loop-function.png?auto=compress,format"
          alt=""
        />
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      practiceContent: [
        {
          title: "Structuring your practice routine",
          description:
            "20 minutes is a great place to start. In general, limit your sessions to 40 minutes as this is the limit of productive human attention span. Even professional concert pianists who practice for hours every day (it is their job after all) won’t sit at the keyboard for more than 40 minutes at a time. Of course, if you find yourself entering a flow of productive playing, then keep going! Stop as soon as your concentration drops and be happy with what you achieved.",
        },
        {
          title: "When to practice piano?",
          description:
            "You choose. The best time to practice is a time that suits you. If you have a flexible schedule, try out a few different times and work out what feels right. We are all totally different. Mozart played very early or very late, Strauss mid-morning. Consider the schedules of those around you too. An electric keyboard with headphones is fine anytime, but if you have a grand piano, then playing during everyone’s favorite TV show - or at 4 a.m. - could make you unpopular.",
        },
        {
          title: "Where to practice piano?",
          description:
            "Make sure your piano is easily accessible and visible. Very few of us have unlimited room to place a piano or keyboard, so it depends on size and how much space you have available. Do what you can to make it easy to simply sit down and play with proper posture and technique (see Chapter 3 - Proper Piano Technique). So no hunching over in a cramped attic. If you are using a keyboard, try to keep it set up. If you are hiring a rehearsal space or going to a friend’s home to practice on their piano, try to find somewhere as close as possible. Remember, the goal is to be there every day.",
        },
        {
          title: "Remove distractions",
          description:
            "Think of your practice time as sacred, and treat it with a little respect. Continuous concentration is a more efficient use of your time and drastically improves the quality of your practice. In an ideal world we would each have a room containing nothing but a piano. But for most of us, we need to take steps to remove distractions.",
        },
      ],
    };
  },
};
</script>

<style scoped>
header {
  background-image: -webkit-linear-gradient(
      rgba(128, 86, 86, 0.7),
      rgba(88, 45, 45, 0.7)
    ),
    url("~assets/piano.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  padding: 1.3em;
}

.hero {
  width: 30rem;
  margin: 2rem auto;
  height: 30vh;
  padding: 1.4em;
  color: white;
}
</style>
