<template>
  <div>
    <ContactCoach />
  </div>
</template>
<script>
import ContactCoach from "@/components/REQUESTS/ContactCoach";
export default {
  components: {
    ContactCoach,
  },
};
</script>
