<template>
  <div class="content">
    <div class="video-container">
      <video autoplay muted loop>
        <source src="~assets/singtwo.mp4" type="video/mp4" />
      </video>
      <div class="caption">
        <img
          src="https://www.30daysinger.com/images/welcome2/Logo-White.png"
          alt=""
        />
      </div>
    </div>

    <b-row class="p-5">
      <b-col cols="6" class="p-5">
        <h1>WHAT IS THE BEST AGE TO START SINGING LESSONS?</h1>
        <p>
          Because singing does not depend on the fine motor skills and
          coordination involved with other instruments, the best age to start
          singing lessons varies from student to student. However, learning to
          sing requires regular practice, focus and attention to detail.
        </p>
        <img
          src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt=""
        />
        <h1>Angus Sinclair</h1>
        <h2>Vocals / Piano / Uculele</h2>
        <button>contact</button>
      </b-col>
      <b-col cols="6" class="p-5">
        <h1>
          3 SIGNS YOUR CHILD IS READY TO START SINGING LESSONS
        </h1>
        <ul>
          <li>
            Your child is motivated to sing. Students who are motivated progress
            at a much faster rate and have more success learning an instrument.
            If the child enjoys music or sings along to the radio or TV
            programs, this is a good indication that they are ready to start
            learning how to sing.
          </li>
          <li>
            Your child can focus for 30 minutes. Consistent practice is the key
            to learning to sing. If your child can focus on a task for 30
            minutes, they should be able to maintain a practice schedule and be
            able to handle taking singing lessons.
          </li>
          <li>
            Your child can make time to practice singing. In addition to
            lessons, students need practice time throughout the week in order to
            learn to sing. Parents may need to help manage practice time,
            especially at first, when the student is new to singing.
          </li>
        </ul>
        <h1>IS IT EVER TOO LATE TO START SINGING LESSONS?</h1>
        <p>
          It’s never too late to start singing! In fact, the human voice
          continues to mature throughout life, so students of any age can
          benefit from singing lessons. Plus, singing can be an effective way to
          keep your mind and body sharp. At School of Rock, our trained vocal
          instructors teach students all aspects of singing. Ready to start?
          Sign up for a singing lesson now.
        </p>
      </b-col>
    </b-row>
  </div>
</template>

<style scoped>
.hero > h1 {
  font-size: 4rem;
  color: rgb(255, 255, 255);
}
.content {
  background-color: black;
}
.sing {
  display: flex;
}
img {
  width: 24rem;
}
h1 {
  color: orange;
}
button {
  background-color: orange;
  padding: 1em;
  border-radius: 50%;
  color: white;
  font-size: 1.4rem;
}
p,
li,
h2 {
  color: white;
}
.video-container {
  height: 500px;
  width: 100%;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #f5ebeb;
  top: 40%;
  padding: 10px;
}
h2 {
  font-size: 3rem;
}
</style>
