<template>
  <div class="wrapper">
    <b-row class="row">
      <div class="title">
        <h1>Welcome to Big Music</h1>
      </div>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/VlPdfLr1FSo"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <div class="descript">
        <div class="inner">
          <img
            class="ablem"
            src="https://static.wixstatic.com/media/c2fe21_f7f3393b869f4849a19de6546e6198b9~mv2.png/v1/fill/w_149,h_145,al_c,q_85,usm_0.66_1.00_0.01/creativekidslogo.webp"
            alt=""
          />
          <p>
            Big Music is an international award-winning contemporary Music
            School, Studios and Retail Store based in Crows Nest (Sydney,
            Australia) consistently ranked in the
          </p>
          <div class="btn-group">
            <button class="btn-primery">Read More</button>
          </div>
        </div>
      </div>
      <b-row> </b-row>
      <b-col class="one">
        <h1>Lessons that Inspire</h1>
        <p>
          Big Music offers fully-tailored private Music Lessons with inspiring
          professional music teachers 6 days a week (Mon-Sat) in our Crows Nest
          studios and online, including:
        </p>
        <button class="secondary" type="button">Guitar (and Bass)</button>
        <button class="secondary" type="button">Drums</button>
        <button class="secondary" type="button">Piano</button>
        <button class="secondary" type="button">Trumpet</button>
        <button class="secondary" type="button">Saxophone</button>
      </b-col>
      <b-col class="two">
        <img
          src="https://static.wixstatic.com/media/c2fe21_2f42bf442b664fa1986a2aa29751eb67~mv2.jpg/v1/fill/w_757,h_642,al_c,q_85,usm_0.66_1.00_0.01/c2fe21_2f42bf442b664fa1986a2aa29751eb67~mv2.webp"
          alt=""
        />
      </b-col>
      <b-col class="three">
        <h1>Play and Perform</h1>
        <p>
          Big Music provides opportunities to play, perform and meet other
          like-minded musicians through a unique range of programs for adults
          and kids, including:
        </p>
        <button class="secondary" type="button">Guitar (and Bass)</button>
        <button class="secondary" type="button">Drums</button>
        <button class="secondary" type="button">Piano</button>
        <button class="secondary" type="button">Trumpet</button>
        <button class="secondary" type="button">Saxophone</button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  
};
</script>

<style scoped>
.wrapper {
  width: 100%;
  background-color: black;
}
.row {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 2rem;
  color: orange;
}
.ablem {
  width: 10rem;
}
.one {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 1px;
  width: 30rem;
}
.three {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 1px;
  width: 30rem;
}
.title {
  margin: auto;
  width: 23rem;
  padding: 1em;
}
img {
  width: 25rem;
}
p {
  color: white;
}

.btn-primery {
  color: white;
  width: 9rem;
  background-color: none;
  background-color: orange;
  height: 5vh;
}
.secondary {
  color: white;
}
.btn-primery:hover {
  background-color: black;
  transition: ease-in-out 0.8s;
}
.btn-group {
  padding: 1em;
}
a {
  color: white;
}
.two {
  width: 30rem;
}
.inner {
  display: flex;
  width: 40rem;
  margin: auto;
}
.descript {
  display: flex;
  height: 30vh;
  align-items: center;
  text-align: center;
}
</style>
