<template>
  <div class="about">
    <div class="post-list">
      <nuxt-link class="post-preview" to="/posts/history">
        <div class="post-thumbnail">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2lssULN_PZy4C2Ocwll9nVZJaRV0Kh5B3yQ&usqp=CAU"
            alt=""
          />
        </div>
        <div class="post-content">
          <h1>History</h1>
          <p>
            Learn about the 7-decade history of this stunning estate,the
            renowned faculty members, and the evolution of the programming that
            makes the Music Academy what it is today
          </p>
        </div>
      </nuxt-link>
      <nuxt-link class="post-preview" to="/post">
        <div class="post-thumbnail">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoAKyjhCHTJCSLPiuItrku2gfNAnrZN5qxsA&usqp=CAU"
            alt=""
          />
        </div>
        <div class="post-content">
          <h1>Public Documents & Reports</h1>
          <p>
            These statements reflect the Music Academy's commitment to its
            donors
          </p>
        </div>
      </nuxt-link>

      <div class="post-list">
        <nuxt-link class="post-preview" to="/post">
          <div class="post-thumbnail">
            <img
              src="https://i.ytimg.com/vi/1iklcodWfLk/maxresdefault.jpg"
              alt=""
            />
          </div>
          <div class="post-content">
            <h1>Faculty & Guest Artist</h1>
            <p>
              View our roster of world-class teaching artists in all programs of
              study.
            </p>
          </div>
        </nuxt-link>
      </div>
      <div class="post-list"></div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.about {
}
.post-preview {
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px #ccc;
  background-color: white;
  width: 90%;
}

a {
  text-decoration: none;
  color: black;
}

@media (min-width: 850px) {
  .post-preview {
    width: 400px;
    margin: 10px;
  }
}

.post-thumbnail {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}
img {
  width: 100%;
}

.post-content {
  padding: 10px;
  text-align: center;
}

a:hover .post-content,
a:active .post-content {
  background-color: rgb(228, 222, 210);
}
.post-list {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
h1 {
  padding: 1em;
}
</style>
