<template>
  <div class="class">
    <CoachesList />
  </div>
</template>
<script>
import CoachesList from "@/components/COACHES/CoachesList";
export default {
  layout: "coaches",
  components: {
    CoachesList,
  },
};
</script>

<style scoped></style>
