<template>
  <section class="about">
    <header>
      <div class="hero">
        <h1>History</h1>
        <p>Seven Decades of Music-Making</p>
      </div>
    </header>
    <b-container>
      <b-row class="row">
        <b-col class="p-2">
          <h2>1940</h2>
          <img
            src="https://maotw-live.s3.amazonaws.com/uploads/2018/12/05170959/MAW_300DPI_0001.jpg"
            alt=""
          />
          <p class="p-3">
            Early faculty included music luminaries Lotte Lehmann, a co-founder
            along with Otto Klemperer, Roman Totenberg, Ernest Bloch, Darius
            Milhaud, Roy Harris, Rosalyn Tureck, Arnold Schoenberg (the
            Academy’s first composer in residence), and John Charles Thomas.
          </p>
        </b-col>
        <b-col class="p-2">
          <h2>1950</h2>
          <img
            src="https://maotw-live.s3.amazonaws.com/uploads/2018/12/05170957/MAW_50s_0003_1955_LehmandirectsAriadne_MarniNixon_BonitaValente.jpg"
            alt=""
          />
          <p class="p-3">
            Lotte Lehmann oversaw the Academy’s first opera productions and the
            Academy began to produce its first internationally successful alumni
            including Lucine Amara, Burt Bacharach, Grace Bumbry, Marilyn Horne,
            and Benita Valente. Maurice Abravanel became Music Director, a post
            he held until 1980. Gregor Piatigorsky served on the faculty from
            1950-53, and continued teaching at the Academy through 1975.
          </p>
        </b-col>
        <b-col class="p-2">
          <h2>1960's & 1970's</h2>
          <img
            src="https://maotw-live.s3.amazonaws.com/uploads/2018/12/05170958/MAW_50s_0005_MauriceAbravanal_conducting.jpg"
            alt=""
          />
          <p class="p-2">
            Martial Singher became head of the Voice Department in 1962,<br />
            remaining until 1981.<br />
            William Primrose joined the faculty. Faculty member Jerome Lowenthal
            performed at the opening concert of the dedication of the newly
            <br />
            dedicated Abravanel Hall in July, 1972.
          </p>
        </b-col>
        <b-col class="p-2">
          <h2>1980's & 1990's</h2>
          <img
            src="https://maotw-live.s3.amazonaws.com/uploads/2018/12/11193627/MAW_80s_0018_McInnes1-e1544558031804.jpg"
            alt=""
          />
          <p class="p-2">
            In the 1990s, the Music Academy became a full-scholarship
            institution. Marilyn Horne became Voice Program Director in 1997.
            The 13 studio building Claeyssens Hall was added to campus. The
            Compeer Program was launched.
          </p>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<script>
export default {
  layout: "coaches",
};
</script>

<style scoped>
section {
  background-color: black;
}
header {
  background-image: url("https://images.unsplash.com/photo-1551696785-927d4ac2d35b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2xhc3NpY2FsJTIwbXVzaWN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
}
.hero {
  width: 30rem;
  color: rgb(63, 29, 29);
  opacity: 0.7;
  background-color: rgb(63, 7, 63);
  position: absolute;
  top: 23%;
  height: 27vh;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.hero > p,
h1 {
  padding: 0.5em;
  color: white;
}
.row,
p,
h2 {
  color: white;
}
</style>
