<template>
  <div>
    <header>
      <div class="inner">
        <p></p>
        <h1>Holiday Rock Camps</h1>
      </div>
    </header>
    <b-container fluid="md" class="container">
      <b-row>
        <b-col class="col-one">
          <img src="~assets/guitar.jpg" alt="" />
          <div class="title">
            <h2>
              Program 1: THE ULTIMATE ROCK EXPERIENCE (URE)
            </h2>
            <p>
              The perfect way for younger kids to start their musical journey,
              the URE program gives them a chance to try a range of cool,
              contemporary instruments. Working in small groups with our expert
              coaches, kids rotate each day through lessons on guitar, bass,
              drums, vocals and piano/keyboard. Depending on enrolment numbers,
              we might do ukulele as well. It's a great way to discover an
              instrument they love.
            </p>
            <h3>
              Program 2: HOLIDAY ROCK SHOW (HRS)
            </h3>
            <p>
              Due to further extensions to the stay-at-home orders issued by the
              NSW Government, Big Music has decided to delay enrolment to camps
              until further notice.
            </p>
          </div>
        </b-col>
        <b-col class="col-two">
          <img src="~assets/play.jpg" alt="" />
          <div class="title">
            <h2>
              Program 2: HOLIDAY ROCK SHOW (HRS)
            </h2>
            <p>
              Our Rock Shows are for kids who are ready to rock! Most will have
              been playing for at least a year, a short audition is required for
              first-timers. Working with inspiring professional musicians,
              students prepare a setlist for an awesome stage performance (which
              may be live-streamed or recorded). The focus is on having fun
              while developing musicianship and stagecraft, with creative
              songwriting also woven in. ​Please note due to Covid-19 all Rock
              Show students are required to BYO instruments and accessories,
              including microphones for vocalists. ​
            </p>
            <h3>Upcoming Program Dates:​​</h3>
            <ul>
              <li>Mon. 20th Sep - Fri. 24th Sep</li>
              <li>Mon. 27th Sep - Fri. 1st Oct</li>
            </ul>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
header {
  background-image: url("~assets/concert.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  position: fixed;
  z-index: -1;
  margin-top: 4rem;
}
.container {
  position: absolute;
  top: 80%;
  left: 6%;
  z-index: 1000;
  transform: translateY(-80% -6%);
}
.inner {
  background-color: rgb(216, 202, 183);
  width: 50%;
  height: 60vh;
  margin: 0 50%;
  opacity: 0.7;
  text-align: center;
}
h1 {
  padding: 4em;
  letter-spacing: 1px;
}
h2 {
  font-size: 1.7rem;
  padding: 1em;
}
img {
  width: 25rem;
}
h3 {
  color: orange;
  font-size: 1.5rem;
  padding: 1em;
}
p {
  padding: 1em;
}
.title {
  background-color: white;
  width: 15rem;
  position: absolute;

  opacity: 0.9;
  width: 20rem;
}
.col-one {
  height: auto;
}
@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
  }
  img {
    width: 10rem;
  }
  .title {
    width: 15rem;
  }
  header {
    width: 100%;
    height: 40vh;
  }
  .inner {
    width: 100%;
    height: 40vh;
  }
  h1 {
    padding: 3em;
    font-size: 1.7rem;
    margin-right: 16rem;
  }
}
</style>
