<template>
  <div>
    <base-card>
      <h2>register</h2>
      <CoachForm @save-data="saveData" />
    </base-card>
  </div>
</template>
<script>
import BaseCard from "@/components/UL/BaseCard";
import CoachForm from "@/components/COACHES/CoachForm";
export default {
  components: {
    CoachForm,
    BaseCard,
  },
  methods: {
    saveData(data) {
      //formdata
      this.$store.dispatch("coaches/registerCoach", data);
    },
  },
};
</script>
