<template>
  <div>
    <base-card>
      <h2>REGISTER</h2>
      <CoachForm @save-data="saveData" />
    </base-card>
  </div>
</template>
<script>
import BaseCard from "@/components/UL/BaseCard";
import CoachForm from "@/components/COACHES/CoachForm";
export default {
  components: {
    CoachForm,
    BaseCard,
  },
  methods: {
    saveData(data) {
      //formdata
      this.$store.dispatch("registerCoach", data);
      this.$router.replace("/registerCoach");
    },
  },
};
</script>

<style scoped>
h2 {
  color: white;
  font-size: 2rem;
  margin: 2rem 5rem;
}
</style>
