<template>
  <div class="hero">
    <header>
      <div class="inner">
        <div class="inner-description">
          <h3>Private Lesson</h3>

          <div class="list-inline">
            <p>
              Private Lessons with our expert coaches are available Monday -
              Saturday in our Crows Nest Studios or in your own home online via
              Zoom.
            </p>
            <ul>
              <li>Acoustic Guitar</li>
              <li>Electric Guitar</li>
              <li>Drums</li>
              <li>Piano / Keyboard</li>
              <li>Ukulele</li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <PrivateLessson />
  </div>
</template>

<style scoped>
header {
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/975/244/non_2x/people-sit-on-sheet-music-and-sing-and-play-musical-instruments-flat-design-style-minimal-illustration-vector.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70vh;
  z-index: -1;
}
.inner {
  background-color: rgb(216, 202, 183);
  width: 50%;
  height: 70vh;

  opacity: 0.9;
  text-align: center;
}
.hero {
  background-color: rgb(129, 34, 34);
}
.inner-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 5em;
  font-weight: bold;
  letter-spacing: 1px;
}
@media only screen and (max-width: 600px) {
  ul {
  }
  li {
    font-size: 0.8rem;
  }
  .inner {
    width: 25rem;
  }
}
</style>
