<template>
  <div>
    <CoachesFind />
  </div>
</template>

<script>
import CoachesFind from "@/components/COACHES/CoachesFind";
export default {
  components: {
    CoachesFind,
  },
};
</script>

<style></style>
