<template>
  <div class="video-container">
    <video autoplay muted loop>
      <source src="~assets/guitarhero.mp4" type="video/mp4" />
    </video>
    <div class="caption">
      <img
        src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/0019/8106/brand.gif?itok=OgqcgA6H"
        alt=""
        class="img-hero"
      />
    </div>
    <section class="content">
      <b-row class="p-5">
        <b-col class="p-5">
          <h1>
            I've spent decades with a guitar in my hands - teaching, touring,
            recording, and everything in between!
          </h1>
          <p>
            Sharing my passion for music has always been important to me!
            JustinGuitar went live back in July 2003 to support my private
            lessons. I moved to free digital lessons on YouTube in 2006, before
            almost anyone else was teaching there. The response was so
            inspiring! It helped me realize my mission: to provide the best
            guitar education to everyone, no matter their circumstances.
          </p>
          <img
            src="https://images.squarespace-cdn.com/content/v1/58645daef7e0abc3cf9bfb69/1581476363732-AJ48ZWWP35CIP8VXTDW7/Taylor+Piggott+Coach+Music+Academy?format=500whttps://images.squarespace-cdn.com/content/v1/58645daef7e0abc3cf9bfb69/1581476363732-AJ48ZWWP35CIP8VXTDW7/Taylor+Piggott+Coach+Music+Academy?format=500whttps://images.squarespace-cdn.com/content/v1/58645daef7e0abc3cf9bfb69/1581476363732-AJ48ZWWP35CIP8VXTDW7/Taylor+Piggott+Coach+Music+Academy?format=500w"
            alt=""
          />
          <h1>Cleo Eaner</h1>
          <h2>Guitar / Bass</h2>
          <button>contact</button>
        </b-col>
        <b-col>
          <h1>
            Ready to take your playing to the next level?
          </h1>
          <ul>
            <li>
              Are you ready to start your guitar journey? This class is for you!
              We'll learn all the basic skills and build the muscles you need to
              play the guitar with confidence. By the end of Grade 1, you'll
              know how to play the eight essential open chords, the most common
              strumming patterns, and loads of great songs!
            </li>
            <li>
              In Grade 2, we'll learn loads of cool new chords, including the
              dreaded F chord, 7th Chords, Power Chords, and how to use chord
              embellishments like sus chords. We'll learn more strumming
              patterns and how to get in the groove. We'll also explore Rock
              Techniques, Blues Rhythm, Lead Guitar, and Acoustic Finger
              Picking! By the end of it, you'll have explored a few styles and
              will be playing with confidence!
            </li>
          </ul>
          <h1>IS IT EVER TOO LATE TO START PLAY GUITAR?</h1>
          <p>
            If you're following my Beginner Guitar Course, you should already be
            familiar with My Practice Assistant. In Grade 2, you can keep adding
            the suggested practice routines to your schedule and track your
            progress! Nitsuj and I find this course very fun and motivating, but
            My Practice Assistant can give you a nice extra boost. ;)
          </p>
        </b-col>
      </b-row>
    </section>
  </div>
</template>

<style scoped>
.video-container {
  height: 500px;
  width: 100%;
  position: relative;
}
.content {
  padding: 7em;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}
.img-hero {
  width: 20rem;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #f5ebeb;
  top: 20%;
  padding: 10px;
}
h2 {
  font-size: 2rem;
}
.hero > h1 {
  font-size: 4rem;
  color: rgb(255, 255, 255);
}
.content {
  background-color: black;
}
.sing {
  display: flex;
}
img {
  width: 24rem;
}
h1 {
  color: orange;
}
button {
  background-color: orange;
  padding: 1em;
  border-radius: 50%;
  color: white;
  font-size: 1.4rem;
}
p,
li,
h2 {
  color: white;
}
img {
  border-radius: 50%;
  opacity: 0.6;
}
@media only screen and (max-width: 600px) {
  .video-container {
    width: 100%;
    height: 50vh;
  }
  img {
    width: 20rem;
    filter: contrast(120%);
  }
  .caption > img {
    width: 16rem;
    height: 15rem;
    position: absolute;
    left: 30%;
  }
  h1 {
    font-size: 1.7rem;
  }
  p {
    font-size: 1.1rem;
  }
  .content {
    display: flex;
    padding: 1em;
    margin-top: 15em;
  }
}
</style>
