<template>
  <div>
    <b-container class="container">
      <b-form-row class="row">
        <b-col sm="auto">
          <form @submit.prevent="submitSurvey">
            <h2>Contact us</h2>
            <div>
              <input
                class="input-field"
                type="text"
                placeholder="Fullname"
                name="name"
                v-model.trim="enteredName"
              />
            </div>

            <div>
              <input
                class="input-field"
                type="text"
                placeholder="Email"
                name="email"
                v-model="enteredEmail"
              />
            </div>
            <div>
              <input
                class="input-field"
                type="text"
                placeholder="Password"
                name="password"
                v-model="setPassword"
              />
            </div>

            <h3>Message</h3>
            <textarea
              class="area"
              name="textarea"
              id="area"
              cols="30"
              rows="10"
              v-model.trim="textArea"
            ></textarea>
            <button class="btn">submit</button>
          </form>
        </b-col>
      </b-form-row>
    </b-container>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      enteredName: "",
      enteredEmail: "",
      setPassword: "",
      textArea: "",
      chosenRating: null,
      invalidInput: false,
    };
  },
  // emits: ['survey-submit'],
  methods: {
    submitSurvey() {
      if (this.enteredName === "" || !this.chosenRating) {
        this.invalidInput = true;
        return;
      }
      this.invalidInput = false;

      // this.$emit('survey-submit', {
      //   userName: this.enteredName,
      //   rating: this.chosenRating,
      // });

      fetch("https://forms-and-default-rtdb.firebaseio.com/rambo.json", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          email: this.enteredEmail,
          name: this.enteredName,
          rating: this.chosenRating,
          textArea: this.textArea,
          password: this.password,
        }),
      });

      this.enteredName = "";
      this.chosenRating = null;
      this.enteredEmail = "";
      this.textArea = "";
    },
  },
};
</script>
<style scoped>
h2,
h3 {
  font-family: "Kaisei Opti", serif;
  font-size: 2rem;
  letter-spacing: 2px;
  color: aliceblue;
}

.input-field {
  border-radius: 20px;
  padding: 0.9em;
  margin: 1em 0;
  width: 28rem;
  border: 2px solid rgb(199, 126, 1);
  outline: none;
}

label {
  font-size: 1.2rem;
}

img {
  width: 21rem;
}

input:focus,
textarea:focus {
  outline-offset: 0px;
  outline: none;
  border-top: none;
  border-left: none;
  border-bottom: 2px solid green;
}
input:focus::-webkit-input-placeholder {
  font-size: 0.75em;
  position: relative;
  top: -17px;
  transition: 0.2s ease-out;
}
input::-webkit-input-placeholder {
  transition: 0.2s ease-in;
}
.area {
  border: 1px solid rgb(187, 173, 148);
  width: 28rem;
  height: 15vh;
}
.form-control {
  border: none;
  min-width: 30rem;
}
.btn {
  width: 7rem;
  outline: none;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  background-color: orange;
  font-size: 1.2em;
  letter-spacing: 1px;
  padding: 0.2em;
}
.btn:hover {
  background-color: rgb(13, 206, 145);
}

a {
  text-decoration: none;
  border: 1px solid green;
  padding: 0.7em;
  background-color: green;
  color: antiquewhite;
  border-radius: 20px;
}
@media only screen and (max-width: 600px) {
  input {
    max-width: 20rem;
    height: 7vh;
  }
  @media only screen and (max-width: 480px) {
    input {
      max-width: 23rem;
      height: 7vh;
      color: white;
    }
  }
  textarea {
    max-width: 22rem;
  }
  label {
    font-size: 1.4rem;
  }
}
</style>
