<template>
  <div class="slide-container">
    <v-carousel
      class="slider"
      :show-arrows="false"
      height="400"
      cycle
      delimiter-icon="mdi-minus  "
    >
      <v-carousel-item
        class="slider"
        v-for="(item, i) in items"
        :key="i"
        :src="item.src"
        reverse-transition="fade-transition"
        transition="fade-transition"
      >
        <v-row class="fill-height title" align="center" justify="center">
        </v-row>
      </v-carousel-item>
    </v-carousel>
  </div>
</template>
<script>
export default {
  data() {
    return {
      scrolltransition: true,
      items: [
        {
          src:
            "https://cdn.pixabay.com/photo/2018/07/01/20/01/music-3510326__340.jpg",
        },
        {
          src:
            "https://images.pexels.com/photos/164938/pexels-photo-164938.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940",
        },
        {
          src:
            "https://images.pexels.com/photos/7088373/pexels-photo-7088373.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940",
        },
        {
          src:
            "https://images.medicaldaily.com/sites/medicaldaily.com/files/styles/full/public/2015/10/27/singing.jpg",
        },
      ],
    };
  },
  computed: {},
};
</script>

<style scoped>
.before-enter {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease-out;
}
h2 {
  color: white;
}
.enter {
  opacity: 1;
  transform: translateY(0px);
}
.text-h2 {
  position: absolute;
  top: 27%;
  left: 30%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  .slider {
    height: auto;
  }
  .text-h2 {
    position: absolute;
    top: 2%;
    left: 30%;
    display: flex;
    flex-direction: column;
  }
  .text-h2,
  h2 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 480px) {
  .text-h2 {
    position: absolute;
    top: 14%;
    left: 2%;
    display: flex;
    flex-direction: column;
  }
  .text-h2,
  h2 {
    font-size: 1.4rem;
  }
}
</style>
