<template>
  <div>
    <b-container fluid="sm">
      <header>
        <h2>MASTERCLASSES</h2>
      </header>
    </b-container>
    <b-container class="p-5">
      <b-row>
        <b-col class="col-one" cols="6">
          <p v-scrollanimation>
            Unique, fresh & innovative masterclasses are carefully planned for
            our students every term. Whether it be industry experts, seasoned
            performers, speech pathologists, music producers or vocal experts;
            every event feels new and dynamic. These workshops always re-ignite
            the spark and fuel the passion to learn!
          </p>
        </b-col>
        <b-col class="col-two" cols="6">
          <div class="slide-container">
            <v-carousel
              :show-arrows="false"
              height="300"
              cycle
              delimiter-icon="mdi-minus  "
            >
              <v-carousel-item
                v-for="(item, i) in items"
                :key="i"
                :src="item.src"
                :title="item.title"
                reverse-transition="fade-transition"
                transition="fade-transition"
              >
                <v-row
                  class="fill-height title"
                  align="center"
                  justify="center"
                >
                  <div class="text-h2">{{ item.title }}</div>
                </v-row>
              </v-carousel-item>
            </v-carousel>
          </div>
        </b-col>
      </b-row>
    </b-container>
    <b-container class="d-flex">
      <b-row class="m-2">
        <b-col>
          <img
            src="https://images.squarespace-cdn.com/content/v1/58645daef7e0abc3cf9bfb69/1530157098354-JSL8Y8N7META82WBQBH2/Singing+lessons+Frankston?format=1000w"
            alt=""
            width="500"
          />
        </b-col>
      </b-row>
      <b-row>
        <h1>SPEECH PATHOLOGIST</h1>

        <p>
          Tayla is a certified practising speech pathologist with Speech
          Pathology Australia. Tayla has a range of experience with voice
          cliental including improvised LSVT programs (voice projection),
          breathing techniques, vocal hygiene and a knowledge of the anatomical
          and physiological workings of the throat and vocal folds. Students
          walked away with tips and tricks for voice maintenance in singing.
        </p>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      scrolltransition: true,
      items: [
        {
          src:
            "https://iconcollective.edu/wp-content/uploads/Laptop-and-Sheet-Music.jpg",
        },
        {
          src:
            "https://www.chapman.edu/copa/music/_files/mastheads/music-brass-masthead.jpg",
        },
        {
          src:
            "https://www.connollymusic.com/hs-fs/hubfs/What-Are-The-Benefits-Of-Playing-The-Violin-Blog.jpg?width=760&name=What-Are-The-Benefits-Of-Playing-The-Violin-Blog.jpg",
        },
        {
          src:
            "https://images.medicaldaily.com/sites/medicaldaily.com/files/styles/full/public/2015/10/27/singing.jpg",
        },
      ],
    };
  },
  computed: {},
};
</script>

<style scoped>
header {
  width: 100%;
  background-image: -webkit-linear-gradient(
      rgba(36, 34, 34, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("~assets/teamwork.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 50vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
h2 {
  color: white;
  letter-spacing: 3px;
  font-size: 2rem;
}
h1 {
  font-family: "Alef", sans-serif;
}
p {
  font-size: 1.7rem;
  font-family: "Kalam", cursive;
}
.col-two {
  width: 20rem;
  height: 30vh;
}
.video {
  min-height: 20vh;
}
.before-enter {
  opacity: 0;
  transform: translateY(100px);
  transition: all 2s ease-out;
}
.enter {
  opacity: 1;
  transform: translateY(0px);
}
</style>
