<template>
  <div class="class">
    <button @click="backHome" type="button">Home</button>
    <Classes />
  </div>
</template>
<script>
import Classes from "@/components/SECTIONS/Classes";

export default {
  layout: "coaches",
  components: {
    Classes,
  },
  methods: {
    backHome() {
      this.$router.push("/");
    },
  },
};
</script>

<style scoped>
button {
  position: fixed;
  background-color: orange;
  padding: 0.6em;
  color: white;
  border-radius: 10px;
  margin: 0.6em;
}
</style>
