<template>
  <div class="content">
    <section class="item-container">
      <div class="controls">
        <h1>Register as a coach</h1>

        <button class="btn-back" @click="backTo">BACK</button>
        <button class="btn-register" @click="register">REGISTER</button>
      </div>
      <div>
        <ul v-if="hasCoaches">
          <Coachitem
            v-for="coach in filteredCoaches"
            :key="coach.id"
            :id="coach.id"
            :first-name="coach.firstName"
            :last-name="coach.lastName"
            :hourlyrate="coach.hourlyrate"
            :areas="coach.areas"
            :description="coach.description"
            :rate="coach.rate"
          />
        </ul>
      </div>
    </section>
  </div>
</template>
<script>
import Coachitem from "@/components/COACHES/Coachitem";

export default {
  components: {
    Coachitem,
  },
  data() {
    return {
      activeFilers: {
        lesson: true,
        classes: true,
        band: true,
      },
      hasCoach: false,
      coachIsVisible: false,
    };
  },

  computed: {
    filteredCoaches() {
      const coaches = this.$store.getters["coaches"];
      return coaches.filter((coach) => {
        if (this.activeFilers.lesson && coach.areas.includes("lesson")) {
          return true;
        }

        if (this.activeFilers.classes && coach.areas.includes("classes")) {
          return true;
        }
        if (this.activeFilers.band && coach.areas.includes("band")) {
          return true;
        }
        return false;
      });
      console.log(filteredCoaches);
    },
    hasCoaches() {
      return this.$store.getters["hasCoaches"];
    },
  },

  methods: {
    setFilter(updateFilter) {
      this.activeFilers = updateFilter;
    },

    register() {
      this.$router.push("/register");
    },
    backTo() {
      this.$router.push("/");
    },
  },
};
</script>
<style scoped>
.controls-list {
  margin: auto;
  max-width: 50rem;
}
.content {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.item-container {
  max-width: 50rem;
  margin: auto;
  height: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1 {
  border: 1px solid green;
  padding: 0.3em;
  background-color: orange;
}
.btn-visible {
  width: 150px;
  height: 44px;
  border: none;
  color: white;
  background-color: rgb(200, 15, 15);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #bbb89b;
  transition: ease-out 0.4s;
  font-size: 1.2rem;
  outline: none;
  margin: 0.8em;
}
.btn-visible:hover {
  box-shadow: inset 300px 0 0 0 #dbd7a2;
  cursor: pointer;
  color: #000;
}
.btn-back {
  width: 150px;
  height: 44px;
  border: none;
  color: white;
  background-color: rgb(124, 11, 11);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #bbb89b;
  transition: ease-out 0.4s;
  font-size: 1.2rem;
  outline: none;
  margin: 0.8em;
}
.btn-back:hover {
  box-shadow: inset 300px 0 0 0 #dbd7a2;
  cursor: pointer;
  color: #000;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 0.7em;
  flex-direction: column;
  align-items: center;

  border-radius: 20px;
}
.filtered {
  padding: 3em;
  font-size: 1rem;
  color: rgb(236, 15, 15);
  text-align: center;
  opacity: 0.9;
}

a {
  color: rgb(247, 251, 250);
  outline: none;
  text-decoration: none;
  font-size: 1.5rem;
}
.btn-register {
  width: 150px;
  height: 44px;
  border: none;
  color: white;
  background-color: rgb(25, 131, 21);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #1da718;
  transition: ease-out 0.4s;
  font-size: 1.2rem;
  outline: none;
  margin: 0.8em;
}
.btn-register:hover {
  box-shadow: inset 300px 0 0 0 #dbd7a2;
  cursor: pointer;
  color: #000;
}
</style>
