<template>
  <div class="coach-content">
    <div class="video-container">
      <video autoplay muted loop>
        <source src="~assets/kidsplay.mp4" type="video/mp4" />
      </video>
      <div class="caption">
        <h1>OUR COACHES</h1>
      </div>
    </div>
    <b-container>
      <div class="container d-flex justify-content-around flex-wrap">
        <b-row v-for="img in images" :key="img.id">
          <b-col class="wrapper">
            <img :src="img.img" :alt="img" />
            <div class="test-content">
              <h3>{{ img.title }}</h3>
              <p>{{ img.description }}</p>
              <span class="link"
                ><a href="https://www.instagram.com/"
                  ><img class="link-inner" :src="img.link" alt="" /></a
              ></span>
            </div>
          </b-col>
        </b-row>
      </div>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      images: [
        {
          img:
            "https://maotw-live.s3.amazonaws.com/uploads/2018/12/06201008/Richard-ONeill-web_1024x1024_acf_cropped-400x400.jpg",
          title: "Ash Kennedy",
          description: "Founder of Coach Music Academy",
          link:
            "https://img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-instagram-social-media-justicon-lineal-color-justicon.png",
        },
        {
          img:
            "https://maotw-live.s3.amazonaws.com/uploads/2018/12/06195724/Michael-Werner-byYuenLuiStudio-e1544126190818_1024x1024_acf_cropped-400x400.jpg",
          title: "Alan Deutrom",
          description: "drums /Percussion ",
          link:
            "//img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-instagram-social-media-justicon-lineal-color-justicon.png",
        },
        {
          img:
            "https://maotw-live.s3.amazonaws.com/uploads/2018/12/06204053/NicoWEB_1024x1024_acf_cropped-400x400.jpg",
          title: "Cleo Eaner",
          description: "Guitar / Bass",
          link:
            "https://img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-instagram-social-media-justicon-lineal-color-justicon.png",
        },

        {
          img:
            "https://maotw-live.s3.amazonaws.com/uploads/2019/02/01194748/Hanick-Conorcolor_1024x1024_acf_cropped-320x320.jpg",
          title: "Grace Mancey",
          description: "Vocals | Piano",
          link:
            "https://img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-instagram-social-media-justicon-lineal-color-justicon.png",
        },

        {
          img:
            "https://maotw-live.s3.amazonaws.com/uploads/2020/04/21154715/2020-Joseph-Pereira-WEB_1024x1024_acf_cropped-320x320.jpg",
          title: "Angus Sinclair",
          description: "Vocals / Piano / Uculele",
          link:
            "https://img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-instagram-social-media-justicon-lineal-color-justicon.png",
        },
        {
          img:
            "https://maotw-live.s3.amazonaws.com/uploads/2018/12/06195301/Zoltek_Maureen_1024x1024_acf_cropped-400x400.jpg",
          title: "Kelly Legg",
          description: "voice / singing ",
          link:
            "https://img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-instagram-social-media-justicon-lineal-color-justicon.png",
        },
      ],
      showHeight: false,
    };
  },
  computed: {
    itShow() {
      this.showHeight = true;
    },
  },
};
</script>

<style scoped>
.coach-content {
  background-color: black;
}

h2 {
  padding: 4em;
  letter-spacing: 3px;
  font-size: 3rem;
}
.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}
.video-container {
  height: 500px;
  width: 100%;
  position: relative;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #f5ebeb;
  top: 40%;
  padding: 10px;
}
img {
  width: 25rem;
  filter: grayscale(100%);
  box-shadow: 0 0 5px;
  border: 1px solid orange;
  border-radius: 50%;
}
img:hover {
  filter: contrast(100%);
  transition: 0.7s;
}
.wrapper {
  overflow: hidden;
  padding: 2em;
}
.test-content {
  width: 20rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  text-align: center;
}
p {
  padding: 0.3em;
  margin: 0.4em;
}
.test-content:hover {
  width: 25rem;
  transition: ease-in-out 0.3s;
  border-right: 10px solid orange;
}
.link {
  opacity: 1;
}
.link {
  opacity: 0;
}
.inner-icons {
  width: 10rem;
}
.link-inner {
  width: 3rem;
  padding: 0.4em;
}

.title {
  width: 30rem;
  margin: 0 auto;
  padding: 1em;
  font-family: "Kaisei Tokumin", serif;
  letter-spacing: 1px;
}
h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  color: orange;
}
@media only screen and (max-width: 600px) {
  .video-container {
    width: 100%;
    height: 40vh;
  }
  img {
    width: 20rem;
    filter: contrast(120%);
  }
  .link {
    width: 10rem;
    height: 6vh;
  }
}
</style>
