<template>
  <form class="form-group" @submit.prevent="submitForm">
    <div class="form-control" :class="{ invalid: !firstName.isValid }">
      <!-- invalid if notfirstnamr isvalid to change color on red -->
      <label for="firstname">Firstname</label>
      <input
        type="text"
        id="firstname"
        v-model.trim="firstName.val"
        @blur="clearValidity('firstName')"
      />
      <p v-if="!firstName.isValid">Firstname must not be empty.</p>
    </div>
    <div class="form-control" :class="{ invalid: !lastName.isValid }">
      <label for="lastname">Lastname</label>
      <input
        type="text"
        id="lastname"
        v-model.trim="lastName.val"
        @blur="clearValidity('lastName')"
      />
      <p v-if="!lastName.isValid">Lastname must not be empty.</p>
    </div>
    <div class="form-control" :class="{ invalid: !description.isValid }">
      <label for="description">Description</label>
      <textarea
        id="description"
        rows="5"
        v-model.trim="description.val"
        @blur="clearValidity('description')"
      ></textarea>
      <p v-if="!description.isValid">Description must not be empty.</p>
    </div>
    <div class="form-control" :class="{ invalid: !hourlyrate.isValid }">
      <label for="age">Rate</label>
      <input
        type="number"
        id="hourlyrate"
        v-model.number="hourlyrate.val"
        @blur="clearValidity('hourlyrate')"
      />
      <p v-if="!hourlyrate.isValid">Rate must be greater than 0.</p>
    </div>
    <div class="form-control" :class="{ invalid: !areas.isValid }">
      <h3>Areas of Expertise</h3>
      <div>
        <input
          type="checkbox"
          id="lesson"
          value="lesson"
          v-model="areas.val"
          @blur="clearValidity('areas')"
        />
        <label for="lesson">Private Lesson</label>
      </div>
      <div>
        <input
          type="checkbox"
          id="classes"
          value="classes"
          v-model="areas.val"
          @blur="clearValidity('areas')"
        />
        <label for="classes">Group Classes</label>
      </div>
      <div>
        <input
          v-if="!alertInput"
          type="checkbox"
          id="band"
          value="band"
          v-model="areas.val"
          @blur="clearValidity('areas')"
        />
        <label for="career">Bands</label>
      </div>
      <p v-if="!areas.isValid">At least one expertise must be selected.</p>
    </div>
    <p class="finish-submitform" v-if="!formIsValid">
      Please fix the above errors and submit again.
    </p>
    <base-button>Register</base-button>
  </form>
</template>

<script>
export default {
  components: {},
  emits: ["save-data"],
  data() {
    return {
      firstName: {
        val: "",
        isValid: true, //this can be false if input is invalide
      },
      lastName: {
        val: "",
        isValid: true,
      },
      description: {
        val: "",
        isValid: true,
      },
      hourlyrate: {
        val: null,
        isValid: true,
      },
      areas: {
        val: [],
        isValid: true,
      },
      formIsValid: true, //if one input is false formIsValid is false
    };
  },
  methods: {
    clearValidity(input) {
      this[input].isValid = true;
    },
    ///we use .vall because we have object with vALL
    validateForm() {
      this.formIsValid = true;
      if (this.firstName.val === "") {
        this.firstName.isValid = false;
        this.formIsValid = false;
      }
      if (this.lastName.val === "") {
        this.lastName.isValid = false;
        this.formIsValid = false;
      }
      if (this.description.val === "") {
        this.description.isValid = false;
        this.formIsValid = false;
      }
      if (!this.hourlyrate.val || this.hourlyrate.val < 0) {
        this.hourlyrate.isValid = false;
        this.formIsValid = false;
      }
      if (this.areas.val.length === 0) {
        this.areas.isValid = false;
        this.formIsValid = false; //no area of expertice,need at least one area
      }
    },
    submitForm() {
      this.validateForm(); //ew call submitForm

      if (!this.formIsValid) {
        return;
      }
      //-------------------------------------------------------------------------

      const formData = {
        //we gorup all this value toghether
        //to expose data was enter to the component
        //that use coach registration
        //this component emits event and parraent know about data
        first: this.firstName.val,
        last: this.lastName.val,
        desc: this.description.val,
        hourlyrate: this.hourlyrate.val,
        areas: this.areas.val,
      };

      this.$emit("save-data", formData); //paraent of this emits coachRegistration
    },
  },
};
</script>

<style scoped>
.form-control {
  margin: 1em;
}
.form-group {
  padding: 1em;
  margin: auto;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  color: rgb(2, 8, 32);
  font-size: 1.2rem;
}
P {
  color: rgb(219, 7, 7);
}
.finish-submitform {
  color: azure;
}

input[type="checkbox"] + label {
  font-weight: normal;
  display: inline;
  margin: 0 0 0 0.5rem;
  padding: 0.8em;
}

input,
textarea {
  display: block;
  width: 100%;

  font: inherit;
  padding: 0.2em;
  border: 1px solid rgb(165, 138, 138);
  font-size: 1.5rem;
}

input:focus,
textarea:focus {
  background-color: #d9cee7;
  outline: none;
  border-color: #6207da;
}

input[type="checkbox"] {
  display: inline;
  width: auto;
  border: none;
}

input[type="checkbox"]:focus {
  outline: #3d008d solid 1px;
}

h3 {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: white;
  font-size: 1.6rem;
}

.invalid label {
  color: red;
}

.invalid input,
.invalid textarea {
  border: 1px solid red;
}
</style>
