<template>
  <li v-if="hasCoaches">
    <h3>{{ fullName }}</h3>
    <h4>hourly rate:{{ hourlyrate }}$</h4>
    <h4>{{ description }}</h4>

    <div>
      <base-badge
        v-for="area in areas"
        :key="area"
        :type="area"
        :title="area"
      ></base-badge>
    </div>
    <div class="actions">
      <button class="btn" @click="contactCoach">contact</button>
      <button class="btn-second" @click="removeList">REMOVE</button>
    </div>
  </li>
</template>
<script>
import BaseBadge from "@/components/UL/BaseBadge";
export default {
  components: {
    BaseBadge,
  },
  data() {
    return {
      hasCoaches: true,
    };
  },
  props: ["id", "firstName", "lastName", "hourlyrate", "areas", "description"],
  computed: {
    fullName() {
      return this.firstName + " " + this.lastName;
    },
  },

  methods: {
    contactCoach() {
      this.$router.push("/contact");
    },
    removeList() {
      this.hasCoaches = false;
    },
  },
};
</script>

<style scoped>
li {
  margin: 1rem 0;
  border: 1px solid #e60808;
  border-radius: 12px;
  padding: 1rem;
}

h3,
h4 {
  margin: 0.5rem 0;
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding: 0.4em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

div {
  margin: 0.5rem 0;
}
.btn {
  color: white;
  background: rgb(0, 4, 255);

  border: none;

  border-radius: 20%;
  cursor: pointer;
  height: 6vh;
}
.btn-second {
  margin: 0 0.3em;
  border-radius: 1em;
  padding: 0.2em;
  background-color: red;
  color: white;
}
.btn:hover {
  background: purple;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
</style>
