<template>
  <div class="hero">
    <div class="video-container">
      <video autoplay muted loop>
        <source src="~assets/sing.mp4" type="video/mp4" />
      </video>
      <div class="caption"></div>
    </div>

    <div class="banner">
      <div class="banner-text">
        <div class="text-wrapper">
          <h2 class="text-white">Coach Music Academy</h2>
          <div class="box b1"><h2>guitar</h2></div>
          <div class="box b4"><h2>piano</h2></div>
          <div class="box b3"><h2>drums</h2></div>
          <div class="box b5"><h2>voice</h2></div>
        </div>
      </div>
    </div>

    <div class="goTo">
      <div class="input-control">
        <input
          type="text"
          class="lesson"
          @change="setFilter"
          v-model="lesson"
          placeholder="What would you like to learn?"
        />
      </div>
    </div>

    <SingingLessons />

    <Galery />
    <Exp />
    <section class="form">
      <Form />
    </section>
  </div>
</template>
<script>
import Form from "@/components/FORM/Form";
import Galery from "@/components/galery/Galery";
import SingingLessons from "@/components/SingingLessons";
import Exp from "@/components/BLOG/Exp";
export default {
  components: {
    SingingLessons,
    Form,
    Galery,
    Exp,
  },
  data() {
    return {
      lesson: "",
      slides: [
        {
          photo:
            "https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29ufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80",
        },
      ],
      video: false,
      videoPrimary: true,
    };
  },
  computed: {
    teachers() {
      return this.$store.getters["teachers"];
    },
  },

  methods: {
    setFilter(event) {
      const active = event.target.value;
      if (active.includes("g") || active.includes("G")) {
        return this.$router.push("/galery/guitar");
      }
      if (active.includes("D") || active.includes("d")) {
        return this.$router.push("/instruments/drums");
      }
      if (active.includes("D") || active.includes("i")) {
        return this.$router.push("/instruments/piano");
      }
    },
    goToUrl() {
      this.$router.push("/sections/masterclass");
    },
  },
};
</script>

<style scoped lang="scss">
html {
  scroll-behavior: smooth;
}
.hero {
  background-image: url("https://www.meme-arsenal.com/memes/9efe2c5747a2cec4bf561815c1726285.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.video-container {
  height: 500px;
  width: 100%;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #f5ebeb;
  top: 40%;
  padding: 10px;
}

/* input*/
label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(-50%);
  transition: all 0.8s ease;
  font-size: 20px;
  pointer-events: none;
  color: black;
}
input:focus,
textarea:focus {
  outline-offset: 0px;
  outline: none;
  border-top: none;
  border-left: none;
  border-bottom: 2px solid green;
}
.input-field {
  border-radius: 20px;
  padding: 0.9em;
  margin: 1em 0;
  width: 28rem;
  border: 1px solid rgb(187, 173, 148);
  outline: none;
}

input:focus::-webkit-input-placeholder {
  font-size: 0.75em;
  position: relative;
  top: -17px;
  transition: 0.2s ease-out;
}
input::-webkit-input-placeholder {
  transition: 0.2s ease-in;
}
//

.text-wrapper {
  width: 20rem;
  letter-spacing: 2px;
}
.search {
  width: 3rem;
  margin-left: -48px;
}

.btn-two {
  color: black;
}

.goTo {
  max-width: 30rem;
  margin: auto;
}

.btn-app:link,
.btn-app:visited {
  border: 0;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}
.icons {
  width: 6rem;

  margin: auto;
  border-radius: 50%;
  background-color: orange;

  position: absolute;
}
img {
  width: 100%;
  height: auto;
}

.content-description {
  width: 40rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  letter-spacing: 2px;
  font-family: "Besley", serif;
  font-size: 1.4rem;
}
.btn {
  background-color: orange;
  color: white;
  display: block;
  width: 10rem;
  font-size: 1.5rem;
}
.btn:hover {
  background-color: rgb(13, 206, 145);
}

.input-control {
  position: absolute;
  color: rgb(228, 208, 208);
  padding: 0.7em;
}

.content {
  width: 100%;
  height: 100vh;

  padding: 6em;
}

.input-control > input {
  width: 28rem;
  padding: 0.5em;
  border-radius: 20px;
  border: 2px solid orange;
  outline: none;
  color: rgb(245, 239, 239);
  font-size: 1.4rem;
}
li {
  color: white;
}
.first-content {
  width: 100%;
  height: 100vh;
}

.banner-text {
  transform: translate(-30%, -20%);
  position: absolute;
  top: 30%;

 
}

.banner-text h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;

  text-transform: uppercase;
  font-family: "Koh Santepheap", cursive;
  letter-spacing: 1.9px;
  margin-bottom: 0.4em;
}
.banner {
  position: absolute;
  top: 35%;
  left: 45%;
}
.banner .box {
  font-size: 35px;
  font-weight: bold;
  opacity: 0;
  position: absolute;
  width: 100%;
  text-align: center;
}
.fas {
  color: rgb(173, 18, 18);
}
.box {
  border: 2px solid orange;
  background-color: green;
}
.b1 {
  animation: ani1 14s infinite;
}
.b2 {
  animation: ani2 14s infinite;
}
.b3 {
  animation: ani3 14s infinite;
}
.b4 {
  animation: ani4 14s infinite;
}
.b5 {
  animation: ani5 14s infinite;
}
.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.5s;
}

.js--wp-4 {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1;
}

@keyframes ani1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}
@keyframes ani2 {
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
@keyframes ani3 {
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}
@keyframes ani4 {
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}
@keyframes ani5 {
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media only screen and (max-width: 600px) {
  .video-container {
    width: 100%;
    height: 30vh;
  }
  .banner-text h2 {
    font-size: 1.6rem;
  }
  .text-wrapper,
  .box {
    width: 15%;
    height: 6vh;
    font-size: 1rem;
  }
  .banner {
    position: absolute;
    top: 15%;
  }
  .lesson {
    height: 7vh;
  }
}
@media only screen and (max-width: 480px) {
  .video-container {
    width: 100%;
    height: 28vh;
  }
  .banner-text h2 {
    font-size: 1.4rem;
  }
  .text-wrapper,
  .box {
    width: 13%;
    height: 6vh;
    font-size: 0.7rem;
  }
  .banner {
    position: absolute;
    top: 15%;
  }
  .lesson {
    height: 6vh;
  }
  input {
    max-width: 20rem;
    margin-left: 3.6rem;
  }
}
</style>
