<template>
  <div class="header">
    <b-container>
      <div class="title">
        <h1>Why Learn with Big Music?</h1>
        <div class="desc">
          <p>
            Playing a musical instrument is a source of joy at any age, and has
            proven mental and physical health benefits. Research shows that
            people who take up an instrument and get regular lessons from a good
            teacher (that they like) are 4 times more likely to keep playing and
            progressing beyond the first year. ​ At Big Music, we employ
            song-based learning and encourage you to learn the songs that you
            love, so that you will be more motivated to practice and progress.
            Our priority is to make you love playing, not make you play perfect
            scales! ​ Based on your goals, our expert coaches will customise a
            lesson plan for you and let you go at your own pace. We have coaches
            to suit every level of experience and style of music. ​ So come on,
            give it a go! We'd love to help you achieve your musical dreams.
          </p>
        </div>
      </div>
      <b-container class="inner-table">
        <h1>Rates - Casual Private Lessons (as of 1st July 2021)</h1>
        <b-row class="head">
          <b-col class="text-center"><h4>Time</h4></b-col>
          <b-col class="text-center"><h4>Price</h4></b-col>
        </b-row>
        <b-row>
          <b-col class="text-center col-one"
            ><ul>
              <li>
                <span class="p-2">30 Minutes</span>
              </li>
              <li>
                <span>45 Minutes</span>
              </li>
              <li>
                <span>1 hour</span>
              </li>
            </ul></b-col
          >
          <b-col class="text-center d-flex">
            <ul>
              <li>
                <span>$57.50</span>
              </li>
              <li>
                <span class="p-2">$57.50 (Off-Peak)</span>
              </li>
              <li>
                <span>$105</span>
              </li>
            </ul>
          </b-col>
        </b-row>
      </b-container>
    </b-container>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.inner {
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 50vh;
  background-color: orange;
}
li {
  list-style: none;
  margin: 1em;
  font-family: "Hina Mincho", serif;
  letter-spacing: 1px;
}

.title {
  margin: auto;
  padding: 1em;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
}
.head {
  height: 10vh;
  background-color: orange;
}

title,
h1,
span {
  border-bottom: 2px solid orange;
  padding: 1em;
  color: white;
}

.col-one {
  border: 1px solid orange;
  border-top: none;
}
.inner-table {
  border: 1px solid orange;
}
.col-two {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4em;
  justify-content: space-between;
}
h4 {
  color: white;
}
p {
  color: white;
}
</style>
