<template>
  <div>
    <b-container>
      <div class="wrapper">
        <div class="description">
          <div class="title">
            <h1>Individual singing</h1>
            <h1>Lessons</h1>
          </div>

          <p>
            Singing lessons are available for all ages and styles, of all
            abilities! At Dublin School of Music, we have an impressive Vocal
            Department, with teachers from many different genres and musical
            backgrounds, all with a solid background in vocal pedagogy and vocal
            health/development. Voice lessons are catered to the individual
            student,<br />
            encouraging a strong foundation in vocal technique, performance
            practice and establishing a varied and appropriate repertoire list.
          </p>
        </div>
        <div class="image">
          <img
            src="https://dublinschoolofmusic.ie/wp-content/uploads/2019/11/microphone-1209816_1920-768x512.jpg"
            alt="img"
          />
        </div>
      </div>
    </b-container>
    <div class="btn-container">
      <nuxt-link to="/lesson">Read More</nuxt-link>
    </div>
  </div>
</template>

<style scoped>
.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 4rem;
  padding: 1em;
  font-family: "Glory", sans-serif;
}
p {
  color: white;
}
.description {
  padding: 1em;
  letter-spacing: 1.7px;
}
.title {
  color: orange;
}
.inner-title {
  color: black;
  font-weight: bold;
  font-size: 2.5rem;
}
h1 {
  font-size: 2.8rem;
  font-weight: bold;
}
img:hover {
  filter: contrast(200%);
  transition: all 0.5s ease-out;
}
.btn-container {
  width: 10rem;

  margin: 2rem auto;
}
a {
  background-color: rgb(37, 148, 37);
  padding: 0.4em;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 20px;
  color: white;
  display: block;
  text-align: center;
  letter-spacing: 1px;
}
img {
  width: 36rem;
  border-radius: 50%;
  box-shadow: 0 0 2px;
}
a:hover {
  background-color: orange;
  transition: all 0.5s ease-out;
}
@media only screen and (max-width: 600px) {
  img {
    max-width: 20rem;
  }
  h1 {
    font-size: 1.6rem;
  }
  p {
    font-size: 0.9rem;
  }
}
</style>
