<template>
  <div class="coach-content">
    <header>
      <div class="inner">
        <div class="inner-description">
          <h3>Faculty & Teaching Artists</h3>

          <div class="list-inline">
            <p>
              Summer School & Festival Roster
            </p>
          </div>
        </div>
      </div>
    </header>
    <b-container>
      <div class="container d-flex justify-content-around flex-wrap">
        <b-row v-for="img in images" :key="img.id">
          <b-col class="wrapper">
            <img :src="img.img" :alt="img" />
            <div class="test-content">
              <h3>{{ img.title }}</h3>
              <p>{{ img.description }}</p>
            </div>
          </b-col>
        </b-row>
      </div>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      images: [
        {
          img:
            "https://maotw-live.s3.amazonaws.com/uploads/2019/02/22182331/Martin_Beaver_2_1024x1024_acf_cropped-640x640.jpg",
          title: "Martin Beaver",
          description: "violin & chamber music",
        },
        {
          img:
            "https://maotw-live.s3.amazonaws.com/uploads/2020/04/14145911/2020-Fleezanis-Jorja-headshot-WEB_1024x1024_acf_cropped-400x400.jpg",
          title: "Jorja Fleezanis",
          description: "violin, orchestral studies & chamber music ",
        },
        {
          img:
            "https://maotw-live.s3.amazonaws.com/uploads/2018/12/06204053/NicoWEB_1024x1024_acf_cropped-400x400.jpg",
          title: "Cleo Eaner",
          description: "Guitar / Bass",
        },

        {
          img:
            "https://maotw-live.s3.amazonaws.com/uploads/2018/12/06195347/Kathleen-Winkler_1024x1024_acf_cropped-400x400.jpg",
          title: "Kathleen Winkler",
          description: "violin & chamber music",
        },

        {
          img:
            "https://maotw-live.s3.amazonaws.com/uploads/2021/04/16135054/WEB-Xiomara-Mass-headshot-2021_1024x1024_acf_cropped-400x400.jpg",
          title: "Xiomara Mass",
          description: "oboe",
        },
        {
          img:
            "https://maotw-live.s3.amazonaws.com/uploads/2018/12/06204248/Dicterow-Glenn_Violin_1024x1024_acf_cropped-400x400.jpg",
          title: "Glenn Dicterow",
          description: "violin & string ",
        },
      ],
      showHeight: false,
    };
  },
  computed: {
    itShow() {
      this.showHeight = true;
    },
  },
};
</script>

<style scoped>
.coach-content {
  background-color: black;
}

h2 {
  padding: 4em;
  letter-spacing: 3px;
  font-size: 3rem;
}
.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}
.video-container {
  height: 500px;
  width: 100%;
  position: relative;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #f5ebeb;
  top: 40%;
  padding: 10px;
}
img {
  width: 15rem;
  filter: grayscale(100%);
  box-shadow: 0 0 5px;
  border: 1px solid orange;
  border-radius: 50%;
}
img:hover {
  filter: contrast(100%);
  transition: 0.7s;
}

.test-content {
  width: 20rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  text-align: center;
}
p {
  padding: 0.3em;
  margin: 0.4em;
}

.link {
  opacity: 1;
}
.link {
  opacity: 0;
}
.inner-icons {
  width: 10rem;
}
.link-inner {
  width: 3rem;
  padding: 0.4em;
}

.title {
  width: 30rem;
  margin: 0 auto;
  padding: 1em;
  font-family: "Kaisei Tokumin", serif;
  letter-spacing: 1px;
}
h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  color: orange;
}
@media only screen and (max-width: 600px) {
  .video-container {
    width: 100%;
    height: 40vh;
  }
  img {
    width: 20rem;
    filter: contrast(120%);
  }
  .link {
    width: 10rem;
    height: 6vh;
  }
}
header {
  background-image: url("https://cdn.britannica.com/31/152531-050-EF92F384/Boston-Symphony-Orchestra-2007.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70vh;
  z-index: -1;
}
.inner {
  background-color: rgb(216, 202, 183);
  width: 50%;
  height: 70vh;

  opacity: 0.9;
  text-align: center;
}
.hero {
  background-color: rgb(129, 34, 34);
}
.inner-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 8em;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.6rem;
}
</style>
