<template>
  <div class="header-container">
    <header class="the-header">
      <TheSideNavToggle @toggle="$emit('sidenavToggle')" />
      <div class="logo">
        <img
          src="https://png.pngtree.com/template/20190422/ourmid/pngtree-music-academy-logo-design-image_145189.jpg"
          alt=""
        />
      </div>
      <div class="spacer"></div>
      <div
        class="navigation-items"
        :class="{ change_color: scrollPosition > 50 }"
      >
        <ul class="nav-list">
          <li><nuxt-link to="/">home</nuxt-link></li>
          <li><nuxt-link to="/sections/about">about us</nuxt-link></li>
          <li><nuxt-link to="/sections/classes">classes</nuxt-link></li>
          <li><nuxt-link to="/coach">coaches</nuxt-link></li>
          <li>
            <div class="dropdown">
              <button class="dropbtn">LESSON</button>
              <div class="dropdown-content">
                <nuxt-link to="/instruments/piano">Piano</nuxt-link>
                <nuxt-link to="/instruments/drums">Drums</nuxt-link>
                <nuxt-link to="/galery/guitar">Guitar</nuxt-link>
                <nuxt-link to="/lesson/private">Private Lesson</nuxt-link>
              </div>
            </div>
          </li>

          <li><nuxt-link to="/registerCoach">register</nuxt-link></li>
        </ul>
      </div>
    </header>
  </div>
</template>

<script>
import TheSideNavToggle from "@/components/Navigation/TheSideNavToggle";

export default {
  name: "TheHeader",
  components: {
    TheSideNavToggle,
  },
  data() {
    return {
      scrollPosition: null,
    };
  },
  methods: {
    updateScroll() {
      this.scrollPosition = window.scrollY;
    },
  },
  mounted() {
    window.addEventListener("scroll", this.updateScroll);
  },
};
</script>

<style scoped>
.header-container {
  height: 60px;
}
.change_color {
  transition: all 1s ease-in-out;
  background-color: rgb(255, 255, 254);
  opacity: 0.7;
  margin-top: 1em;
}
.the-header {
  width: 100%;
  position: fixed;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  box-sizing: border-box;
  padding: 0 10px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: rgb(0, 0, 3);
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.dropbtn {
  color: black;
  padding: 3px;
  font-size: 16px;
  border: none;
  letter-spacing: 1px;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}
li {
  margin: 1em;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.logo {
  margin: 0 10px;
  font-size: 1.3rem;
}
.logo > img {
  width: 11rem;
  border-radius: 50%;
  padding: 1em;
  margin-top: 20px;
  opacity: 0.9;
}

.logo a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1;
}

.navigation-items {
  display: none;
  width: 60rem;
}

@media (min-width: 768px) {
  .navigation-items {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .logo {
    opacity: 0;
  }
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 60rem;
  justify-content: center;
  height: 10vh;
}

.nav-item {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: rgb(7, 0, 0);

  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1px;
}

a:hover,
a:active,
a.nuxt-link-active {
  color: orange;
}
</style>
