<template>
  <div class="sidenav-container">
    <div v-if="show" class="sidenav-backdrop" @click="$emit('close')"></div>
    <transition name="slide-side">
      <div v-if="show" class="sidenav">
        <ul class="nav-list" @click="$emit('close')">
          <li class="nav-item">
            <nuxt-link to="/">home</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link to="/sections/about">about us</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link to="/registerCoach">register</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link to="/sections/classes">classes</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link to="/coach">coaches</nuxt-link>
          </li>
        </ul>
        <li>
          <div class="dropdown">
            <button class="dropbtn">LESSON</button>
            <div class="dropdown-content">
              <nuxt-link to="/galery/guitar">Guitar</nuxt-link>

              <nuxt-link to="/instruments/piano">Piano</nuxt-link>
              <nuxt-link to="/instruments/drums">Drums</nuxt-link>
              <nuxt-link to="/lesson/private">Private Lesson</nuxt-link>
            </div>
          </div>
        </li>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "TheSidenav",
  props: {
    show: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped>
.sidenav-container {
  height: 100%;
  width: 100%;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropbtn {
  color: black;
  padding: 3px;
  font-size: 16px;
  border: none;
  letter-spacing: 1px;
  font-weight: bold;
}

.sidenav-backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sidenav {
  height: 100%;
  width: 300px;
  background-color: white;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 30px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

.slide-side-enter-active,
.slide-side-leave-active {
  transition: all 0.3s ease-out;
}
.slide-side-enter,
.slide-side-leave-to {
  transform: translateX(-100%);
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 20px 0;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.nav-item a:hover,
.nav-item a:active {
  color: red;
}
</style>
