<template>
  <div class="drawer-toggle" role="button" @click="$emit('toggle')">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</template>

<style scoped>
.drawer-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  width: 50px;
  cursor: pointer;
  box-shadow: 0 0 1px;
}

@media (min-width: 800px) {
  .drawer-toggle {
    display: none;
  }
}

.drawer-toggle .bar {
  width: 100%;
  height: 2px;
  background-color: rgb(143, 49, 49);
}
</style>
