<template>
  <section class="hero">
    <div class="video-container">
      <video autoplay muted loop>
        <source src="~assets/drums.mp4" type="video/mp4" />
      </video>
      <div class="caption">
        <img
          src="https://cdn1.vectorstock.com/i/thumb-large/35/90/flaming-snare-drums-with-sticks-logo-vector-8743590.jpg"
          alt=""
          class="drums"
        />
      </div>
    </div>
    <b-container class="header">
      <h1>DRUM LESSONS</h1>
      <p>
        Big Music's experienced drum teachers are available Monday - Saturday
        for private drum lessons, catering for everyone from kids to adults and
        beginners through to touring rock stars!
      </p></b-container
    >

    <section id="guitar-section">
      <b-container class="">
        <b-row>
          <b-col md="auto" class="img-primery">
            <img
              src="https://i.ytimg.com/vi/zwSqwPSMi7E/maxresdefault.jpg"
              alt=""
            />
          </b-col>
          <b-col md="auto" class="description">
            <h1>
              WHY LEARNS DRUMS AT BIG MUSIC?
            </h1>
            <p>
              Drum lessons at Big Music are fully customised for your goals and
              interests, allowing you to progress at your own pace. ​ We match
              you with your ideal drum coach based on availability, experience
              and interests. And then with your coach's guidance you can choose
              the songs and styles you want to learn, as well as the theory and
              skills you wish to master. ​ You can choose to learn in our
              spacious Crows Nest studios, or on you own kit at home online via
              Zoom. ​ And when you're ready we can help you join one of our
              Bands or Rock Shows.
            </p>
            <div class="rate">
              <h3>CASUAL DRUM LESSON</h3>
              <span>30 Minutes - $62.5</span>
              <h3>WEEKLY DRUM LESSONS</h3>
              <span>30 Minutes - $62.5</span>
            </div>
          </b-col>
          <b-col> </b-col>
        </b-row>
      </b-container>
      <b-container fluid="md">
        <b-row class="secont-content">
          <b-col>
            <h1>
              GROUP DRUM CLASSES FOR KIDS
            </h1>
            <p>
              Group classes are a fantastic way for kids to get into the groove
              of drumming. Groups consist of no more than 7 students, each with
              their own electronic drum kit and a set of headphones allowing
              them to hear only themselves and their coach playing. In a
              relaxed, social environment students learn all the basics to get
              them started while learning their favourite contemporary songs!
              These term-based classes culminate in a group performance, held
              here at Big Music in our very own venue, in the final lesson of
              term.
            </p>
            <h3>GROUP CLASSES</h3>
            <p>10 Weekly Classes - $400 (10 week term)</p>
          </b-col>
          <b-col>
            <img
              src="https://morningsideschoolofmusic.co.uk/wp-content/plugins/phastpress/phast.php/c2VydmljZT1pbWFnZXMmc3JjPWh0dHBzJTNBJTJGJTJGbW9ybmluZ3NpZGVzY2hvb2xvZm11c2ljLmNvLnVrJTJGd3AtY29udGVudCUyRnVwbG9hZHMlMkYyMDIwJTJGMDMlMkZEcnVtbWluZy5qcGcmY2FjaGVNYXJrZXI9MTYxMDM4NDYyNy03Mzc4MCZ0b2tlbj0yYjU3YThlNTkxM2FjMjc1.q.jpg"
              alt=""
            />
          </b-col>
        </b-row>
      </b-container>
    </section>
  </section>
</template>

<script>
export default {};
</script>

<style scoped>
#guitar-section {
  padding: 2em;
}
.drums {
  border-radius: 50%;
  width: 20rem;
  opacity: 0.5;
  border: 2px solid orange;
}
.hero {
  background-color: black;
}
.video-container {
  height: 500px;
  width: 100%;
  position: relative;
}
.piano {
  opacity: 0.4;
  width: 20rem;
  padding: 2em;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #f5ebeb;
  top: 20%;
  padding: 10px;
}
.header {
  width: 100%;
  height: 40vh;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: black;
  flex-direction: column;
}
h1 {
  padding: 0.3em;
  color: orange;
  font-size: 2rem;
}
.header p {
  font-size: 1.8em;
  letter-spacing: 1px;
  color: white;
  padding: 1em;
}
h3 {
  color: orange;
  font-size: 1.4rem;
}
.second-content {
  display: flex;
}
.second-content,
img {
  width: 30rem;
}

p,
span {
  color: white;
}
@media only screen and (max-width: 600px) {
  .video-container {
    width: 100%;
    height: 50vh;
  }
  img {
    width: 20rem;
    filter: contrast(120%);
  }
  .caption > img {
    width: 17rem;
    height: 16rem;
    position: absolute;
    left: 30%;
  }
  h1 {
    font-size: 1.7rem;
  }
  p {
    font-size: 1.1rem;
  }
  .header > p {
    font-size: 1.2rem;
  }
  #guitar-section {
    display: flex;
    flex-direction: column;
  }
  .secont-content {
    display: flex;
    flex-direction: column;
  }
}
</style>
