<template>
  <div>
    <footer>
      <div class="row">
        <div class="">
          <ul class="footer-nav">
            <img
              src="https://png.pngtree.com/template/20190422/ourmid/pngtree-music-academy-logo-design-image_145189.jpg"
              alt=""
            />
            <li><nuxt-link to="/sections/about">About us</nuxt-link></li>
            <li><nuxt-link to="/exp">Blog</nuxt-link></li>
            <li><a href="#">Press</a></li>

            <p>
              Copyright &copy; 2021 by Aleksandar Angelevski. All rights
              reserved.
            </p>
          </ul>
        </div>
        <div class="col span-1-of-2"></div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
footer {
  background-color: #333;
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 2em;
  align-items: center;
  flex-wrap: wrap;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-twitter:hover {
  color: #00aced;
}

.ion-social-googleplus:hover {
  color: #dd4b39;
}

.ion-social-instagram:hover {
  color: #517fa4;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}
img {
  width: 10rem;
  border-radius: 50%;
  padding: 2em;
}
@media only screen and (max-width: 600px) {
  .row {
    width: 100%;
    height: auto;
    display: flex;
  }
}
</style>
