<template>
  <div>
    <div class="d-flex justify-content-center gap-5 flex-wrap">
      <div class="test-wrapper" cols="4" v-for="img in images" :key="img">
        <img :src="img.photo" :alt="img" />
        <div class="test-content">
          <h1>Title</h1>
          <p>Something description something something.</p>
        </div>
      </div>
      <div class="test-background"></div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      images: [
        {
          photo:
            "https://images.squarespace-cdn.com/content/v1/58645daef7e0abc3cf9bfb69/1588652116556-W9WUCMOM477BCXMG37P0/Sheppard%252B28th%252BAnnual%252BARIA%252BAwards%252BAwards%252BRoom%252Btvyes6L_ycYl.jpg?format=750w",
          description:
            "What it feels like to hold an ARIA Award with Jay Bovino",
        },
        {
          photo:
            "https://images.pexels.com/photos/392027/pexels-photo-392027.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500",
          description:
            "What it feels like to hold an ARIA Award with Jay Bovino",
        },
        {
          photo:
            "https://images.squarespace-cdn.com/content/v1/58645daef7e0abc3cf9bfb69/1534136256537-SQ8LPBALM5P4IK6EGZ98/PC170702.JPG?format=750w",
          description:
            "What it feels like to hold an ARIA Award with Jay Bovino",
        },
      ],
    };
  },
};
</script>

<style scoped lang="scss">
img {
  width: 30rem;
  height: 40vh;
}
.test-wrapper {
  height: 40vh;
  width: 30erem;
  position: relative;
  border: 1px solid black;
  overflow: hidden;
  box-shadow: 0 0 3px;

  .test-content {
    position: absolute;
    transition: 0.2s 0.1s ease-in-out;
    text-align: center;
    bottom: -100%;
  }
  .test-background {
    position: absolute;
    height: 50%;
    bottom: -100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
  }
}
.test-wrapper:hover {
  .test-content {
    bottom: 0;
    transition: 0.2s ease-in-out;
    color: rgb(255, 254, 254);
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 60%;
    padding: 2em;
  }
  .test-background {
    bottom: 0;
    transition: 0.2s 0.1s ease-in-out;
  }
}
</style>
