<template>
  <div class="hero">
    <div class="learning">
      <learning-survey></learning-survey>
    </div>
    <div class="user-experience">
      <user-experiences></user-experiences>
    </div>
  </div>
</template>

<script>
import LearningSurvey from "@/components/survey/LearningSurvey.vue";
import UserExperiences from "@/components/survey/UserExperiences.vue";

export default {
  layout: "coaches",
  components: {
    LearningSurvey,
    UserExperiences,
  },
  /* data() {
    return {
      savedSurveyResults: [],
    };
  },
  methods: {
    storeSurvey(surveyData) {
      const surveyResult = {
        name: surveyData.userName,
        rating: surveyData.rating,
        id: new Date().toISOString(),
      };
      this.savedSurveyResults.push(surveyResult);
      console.log(surveyResult);
    },
  },
};*/
};
</script>

<style scoped>
html {
  font-family: sans-serif;
}

.hero {
  background-color: black;
  display: flex;
  justify-content: center;
  gap: 3em;
  flex-wrap: wrap;
  padding: 1em;
}
.learning {
  border-left: 3px solid orange;
}
.user-experience {
  border-top: 3px solid orange;
}
</style>
