<template>
  <div>
    <TheHeader @sidenavToggle="displaySidenav = !displaySidenav" />
    <TheSidenav :show="displaySidenav" @close="displaySidenav = false" />

    <transition name="fade" mode="out-in">
      <nuxt />
    </transition>

    <Footer />
  </div>
</template>
<script>
import TheHeader from "@/components/NAVIGATION/TheHeader";
import TheSidenav from "@/components/NAVIGATION/TheSidenav";
import Footer from "@/components/footer/Footer";
export default {
  components: {
    TheHeader,
    TheSidenav,
    Footer,
  },
  data() {
    return {
      displaySidenav: false,
    };
  },
};
</script>

<style>
html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateX(2em);
}
.fade-enter-active,
.fade-leave-active {
  transition: all 0.9s ease;
}
</style>
