<template>
  <section class="about">
    <header>
      <Slider />
    </header>
    <div class="hero">
      <h1>About Us</h1>
      <p>74 Years of Great Classical Music</p>
    </div>
    <div class="content">
      <b-col xl="6" md="auto" class="p-2 m-2">
        <h1 class="p-3">
          Since 1947, the Music Academy of the West has been making a unique and
          enduring contribution to the world of music by
        </h1>
        <ul>
          <li>
            Advancing the development of the next generation of great
            classically trained musicians
          </li>
          <li>
            Cultivating discerning, appreciative, and adventurous audiences
          </li>
        </ul>
      </b-col>
      <b-col class="p-1">
        <p>
          The Music Academy of the West is among the nation’s preeminent summer
          schools and festivals for gifted young classically-trained musicians.
          At its ocean-side, ten-acre campus in Santa Barbara, California, the
          Academy provides these musicians with the opportunity for advanced
          study and performance under the guidance of internationally renowned
          faculty artists, guest conductors, and soloists during its Summer
          School and Festival, presenting nearly 200 public events on campus and
          in downtown Santa Barbara. The 2022 Summer School & Festival takes
          place June 13 through August 6.
        </p>
      </b-col>
    </div>

    <b-col>
      <PostList />
    </b-col>
  </section>
</template>

<script>
import Slider from "@/components/slider/Slider";
import PostList from "@/components/POSTS/PostList";
export default {
  layout: "coaches",
  components: {
    Slider,
    PostList,
  },
};
</script>

<style scoped>

.content {
  background-color: black;
  width: 60rem;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 70vh;
}
.hero {
  position: absolute;
  top: 22%;
  width: 30rem;
  height: 31vh;
  opacity: 0.9;
  background-color: rgb(37, 30, 30);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content,
h1,
p {
  color: white;
}
.hero,
p,
h1 {
  margin: 0 auto;
}
</style>
