<template>
  <div>
    <HomeContent />
    <div></div>
  </div>
</template>

<script>
import HomeContent from "@/components/HOME/HomeContent";
export default {
  components: {
    HomeContent,
  },
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #fff;
  color: #555;
}
.clearfix {
  zoom: 1;
}

.btn {
  background-color: rgb(116, 85, 85);
}
.form {
  width: 30rem;
  margin: auto;
  padding: 2em;
}
.blog {
  padding: 5em;
}
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 1.6rem;
  }
}
</style>
