<template>
  <div class="flex flex-column align-self-start justify-start">
    <h1>Welcome to your dashboard</h1>
    <p>You are no logging</p>
  </div>
</template>

<script>
export default {};
</script>
