<template>
  <section>
    <base-card>
      <h2>Your experience with our coaches</h2>
      <form @submit.prevent="submitSurvey">
        <div class="form-control">
          <label class="control-name" for="name">Full Name</label>
          <input type="text" id="name" name="name" v-model.trim="enteredName" />
        </div>
        <h3>My learning experience was ...</h3>
        <div class="radio-container">
          <div class="input-control">
            <input
              type="radio"
              id="rating-poor"
              value="poor"
              name="rating"
              v-model="chosenRating"
            />
            <label id="rating-poor" for="rating-poor">Poor</label>
          </div>
          <div class="input-control">
            <input
              type="radio"
              id="rating-average"
              value="average"
              name="rating"
              v-model="chosenRating"
            />
            <label id="rating-average" for="rating-average">Average</label>
          </div>
          <div class="input-control">
            <input
              type="radio"
              id="rating-great"
              value="great"
              name="rating"
              v-model="chosenRating"
            />
            <label id="rating-great" for="rating-great">Great</label>
          </div>
        </div>

        <p v-if="invalidInput">
          One or more input fields are invalid. Please check your provided data.
        </p>
        <div>
          <button class="btn-visible">Submit</button>
        </div>
      </form>
    </base-card>
  </section>
</template>

<script>
export default {
  data() {
    return {
      enteredName: "",
      chosenRating: null,
      invalidInput: false,
    };
  },
  // emits: ["survey-submit"],
  methods: {
    submitSurvey() {
      if (this.enteredName === "" || !this.chosenRating) {
        this.invalidInput = true;
        return;
      }
      this.invalidInput = false;

      //this.$emit("survey-submit", {
      //userName: this.enteredName,
      // rating: this.chosenRating,
      //});
      fetch(
        "https://music-classes-c6830-default-rtdb.firebaseio.com/coach.json",
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json", //we tell on server that will be jdosn format
          },
          body: JSON.stringify({
            //this turn to a json
            name: this.enteredName,
            rating: this.chosenRating,
          }),
        }
      ); //feth takes url like a first argument
      //second argumet is a object

      this.enteredName = "";
      this.chosenRating = null;
    },
  },
};
</script>

<style scoped>
#name {
  border: 1px solid black;
  width: 30rem;
  padding: 0.5em;
  border-radius: 3px;
  border: 2px solid orange;
  color: white;
}
p {
  color: white;
}
label {
  font-size: 1.6rem;
  color: white;
}
h2 {
  color: orange;
  font-size: 2.4rem;
  font-weight: bold;
}
h3 {
  color: greenyellow;
}

.btn-visible {
  width: 150px;
  height: 44px;
  border: none;
  color: white;
  background-color: rgb(200, 15, 15);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #bbb89b;
  transition: ease-out 0.4s;
  font-size: 1.2rem;
  outline: none;
  margin: 0.8em;
}
.btn-visible:hover {
  box-shadow: inset 300px 0 0 0 green;
  cursor: pointer;
  color: rgb(255, 247, 247);
}
.input-control {
  width: 40rem;
}
.control-name {
  color: rgb(6, 255, 81);
  font-size: 2.4rem;
  letter-spacing: 1px;
}
.form-control {
  background-color: black;
  border: 2px solid orange;
  max-width: 50rem;
  opacity: 0.6;
}
#rating-poor {
  color: red;
}
#rating-average {
  color: violet;
}
#rating-great {
  color: green;
}
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 1.7rem;
    padding: 0.5em;
  }
  .input-control {
    max-width: 10rem;
  }
  label {
    font-size: 1.5rem;
  }
  .control-name {
    font-size: 1.5em;
  }
  .radio-container {
    display: flex;
    margin: -15px;
  }
}
@media only screen and (max-width: 480px) {
  h2 {
    font-size: 1.4rem;
    padding: 0.7em;
  }
  .input-control {
    max-width: 6rem;
  }
  label {
    font-size: 1.3rem;
  }
  .control-name {
    font-size: 1.2em;
  }
  input {
    max-width: 23rem;
  }
  .radio-container {
    display: flex;
    margin: -12px;
  }
}
</style>
