<template>
  <li>
    <p>
      <span class="highlight">{{ name }}</span> rated the learning experience:
      <span :class="ratingClass">{{ rating }}</span>
    </p>
  </li>
</template>

<script>
export default {
  props: ["name", "rating"],
  computed: {
    ratingClass() {
      return "highlight rating--" + this.rating;
    },
  },
};
</script>

<style scoped>
li {
  margin: 1rem 0;
  border: 1px solid #ccc;
  padding: 1rem;
  border: 1px solid ORANGE;
}

h3,
p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.highlight {
  font-weight: bold;
}

.rating--poor {
  color: #b80056;
}
.rating--average {
  color: #aa72f3;
}

.rating--great {
  color: #008327;
}
span {
  font-size: 2rem;
}
@media only screen and (max-width: 600px) {
  li {
    max-width: 14rem;
  }
  .highlight {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 480px) {
  li {
    max-width: 12rem;
  }
  .highlight {
    font-size: 1.4rem;
  }
}
</style>
