<template>
  <section>
    <base-card>
      <div class="submit-control">
        <h2>Submitted Experiences</h2>

        <button class="btn-visible" @click="loadExperiences">
          Load Submitted Experiences
        </button>
      </div>
      <p v-if="isLoading">isLoading ...</p>
      <p v-else-if="!isLoading && (!results || results.length === 0)">
        No store experiences found
      </p>

      <ul v-else-if="!loading && results && results.length > 0">
        <survey-result
          v-for="result in results"
          :key="result.id"
          :name="result.name"
          :rating="result.rating"
        ></survey-result>
      </ul>
    </base-card>
  </section>
</template>

<script>
import SurveyResult from "@/components/survey/SurveyResult";

export default {
  components: {
    SurveyResult,
  },
  data() {
    return {
      results: [],
      isLoading: false,
    };
  },
  methods: {
    //whwn button is click
    loadExperiences() {
      this.isLoading = true;
      fetch(
        "https://music-classes-c6830-default-rtdb.firebaseio.com/coach.json"
      )
        .then((response) => {
          console.log(response);
          if (response.ok) {
            return response.json(); //we will return promise
          }
        })

        .then((data) => {
          this.isLoading = false;
          ///data is response object
          const results = [];
          for (const id in data) {
            results.push({
              id: id,
              name: data[id].name,
              rating: data[id].rating,
            });
            //data is a object full of id
          }
          this.results = results;
        }); //this then method is active when return promise is done
      //response send back by the server to the browser
      //response have methods pr: json
    },
  },
  mounted() {
    this.loadExperiences();
  },
};
</script>

<style scoped>
ul,
p {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}
h2 {
  color: orange;
}
.btn-visible {
  width: 18rem;
  height: 44px;
  border: none;
  color: white;
  background-color: rgb(200, 15, 15);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #bbb89b;
  transition: ease-out 0.4s;
  font-size: 1.2rem;
  outline: none;
  margin: 0.8em;
}
.btn-visible:hover {
  box-shadow: inset 300px 0 0 0 #dbd7a2;
  cursor: pointer;
  color: #000;
}
img {
  border-radius: 50%;
}
@media only screen and (max-width: 600px) {
  .btn-visible {
    max-width: 30vh;
    font-size: 0.8rem;
  }
  .submit-control {
    display: flex;
    gap: 0.4em;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0.5em;
  }
}
@media only screen and (max-width: 480px) {
  .btn-visible {
    max-width: 16vh;
    font-size: 0.7rem;
  }
  .submit-control {
    display: flex;
    gap: 0.3em;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0.5em;
  }
}
</style>
