<template>
  <div>
    <b-container class="header">
      <h1>GUITAR & BASS LESSONS</h1>
      <p>
        GUITAR & BASS LESSONS Big Music's experienced and inspiring guitar
        teachers are available Monday - Saturday for private guitar and bass
        lessons, catering for everyone from kids to adults and beginners through
        to pro
      </p>
    </b-container>
    <section id="guitar-section">
      <b-container fluid="md" class="">
        <b-row>
          <b-col md="auto" class="img-primery">
            <img
              src="https://static.wixstatic.com/media/c2fe21_2f42bf442b664fa1986a2aa29751eb67~mv2.jpg/v1/fill/w_635,h_568,al_c,q_85,usm_0.66_1.00_0.01/BIG%20MUSIC%20Still014.webp"
              alt=""
            />
          </b-col>
          <b-col md="auto" class="description">
            <h1>WHY LEARN GUITAR AT BIG MUSIC?</h1>
            <p v-scrollanimation>
              Guitar lessons at Big Music are fully customised for your goals
              and interests, allowing you to progress at your own pace. ​ We
              match you with your ideal guitar coach based on availability,
              experience and interests. And then with your coach's guidance you
              can choose the songs you want to learn, as well as the theory and
              skills you wish to master. You can choose to learn in our spacious
              Crows Nest studios, or online via Zoom. ​ And when you're ready we
              can help you join one of our Bands or Rock Shows.
            </p>
            <div class="rate">
              <h3>CASUAL GUITAR LESSON</h3>
              <span>30 Minutes - $62.5</span>
              <h3>CASUAL GUITAR LESSON</h3>
              <span>30 Minutes - $62.5</span>
            </div>
          </b-col>
          <b-col> </b-col>
        </b-row>
      </b-container>
      <b-container>
        <b-row class="secont-content">
          <b-col>
            <h1>
              GROUP GUITAR CLASSES FOR KIDS
            </h1>

            <p>
              Group classes are the perfect way for kids to start learning
              guitar. In a relaxed, social environment students learn all the
              basics to get them started while learning their favourite
              contemporary songs. ​ Classes are organised in age groups from 5-8
              years and 9-12 years. ​ GROUP CLASSES 10 Weekly Classes - $400 (10
              week term)
            </p>

            <h3>GROUP CLASSES</h3>
            <p>10 Weekly Classes - $400 (10 week term)</p>
          </b-col>
          <b-col class="img-guitar">
            <img
              class="guitar"
              src="https://static.wixstatic.com/media/c2fe21_c6a7afa99e1e4fe384752ffc4c52c8a3~mv2.jpg/v1/fill/w_586,h_522,al_c,q_80/c2fe21_c6a7afa99e1e4fe384752ffc4c52c8a3~mv2.webp"
              alt=""
            />
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
#guitar-section {
  padding: 2em;
}
.header {
  width: 100%;
  height: 40vh;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: black;
  flex-direction: column;
}

.change_color {
  background-color: aquamarine;
}
.before-enter {
  opacity: 0;
  transform: translateY(100px);
  transition: all 2s ease-out;
}
.enter {
  opacity: 1;
  transform: translateY(0px);
}
h1 {
  padding: 0.3em;
  color: orange;
  font-size: 2rem;
}
.header p {
  font-size: 1.8em;
  letter-spacing: 1px;
  color: white;
  padding: 1em;
}
.guitar:hover {
  width: 31rem;
  overflow: hidden;
  position: relative;
}
.img-guitar {
  overflow: hidden;
}

h3 {
  color: orange;
  font-size: 1.4rem;
}
.second-content {
  display: flex;
}
.second-content,
img {
  width: 30rem;
  position: relative;
}
</style>
