<template>
  <div class="hero">
    <div class="learning">
      <learning-survey></learning-survey>
    </div>
    <div class="user-experience">
      <user-experiences></user-experiences>
    </div>
  </div>
</template>

<script>
import LearningSurvey from "@/components/survey/LearningSurvey.vue";
import UserExperiences from "@/components/survey/UserExperiences.vue";

export default {
  layout: "coaches",
  components: {
    LearningSurvey,
    UserExperiences,
  },
  /* data() {
    return {
      savedSurveyResults: [],
    };
  },
  methods: {
    storeSurvey(surveyData) {
      const surveyResult = {
        name: surveyData.userName,
        rating: surveyData.rating,
        id: new Date().toISOString(),
      };
      this.savedSurveyResults.push(surveyResult);
      console.log(surveyResult);
    },
  },
};*/
};
</script>

<style scoped>
html {
  font-family: sans-serif;
}

.hero {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://images.pexels.com/photos/3104/black-and-white-music-headphones-life.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  gap: 3em;
}
.learning {
}
</style>
