<template>
  <div>
    <div class="header">
      <div class="hero">
        <h1>Learn Note</h1>
        <h3>
          How To Read Sheet Music: <br />
          Step-by-Step
        </h3>
      </div>
    </div>

    <section>
      <div class="content">
        <div class="inner-content">
          <p>
            Have you ever heard a song on the radio and thought, “Hey, it’d be
            really cool to know how to play that?” Do you have friends who play
            musical instruments, and you want to get in on the fun? Do you just
            want to expand your general artistic knowledge? Well, learning the
            basics of how to read sheet music can help you achieve all of these,
            and in a shorter amount of time than you might have thought! At its
            very simplest, music is a language just like you’d read aloud from a
            book. The symbols you’ll see on pages of sheet music have been used
            for hundreds of years.
          </p>
        </div>
      </div>
    </section>
    <section class="note">
      <div class="learning">
        <h1>How to Read Sheet Music</h1>
        <h2>Step 1: Learn the Basic Symbols of Notation</h2>
        <p>
          Music is made up of a variety of symbols, the most basic of which are
          the staff, the clefs, and the notes. All music contains these
          fundamental components, and to learn how to read music, you must first
          familiarize yourself with these basics.
        </p>
        <img
          src="https://www.musicnotes.com/now/wp-content/uploads/2018/03/How-To-Read-Sheet-Music-Images.png"
          alt=""
        />
        <h2>Notes</h2>
        <p>
          Notes placed on the staff tell us which note letter to play on our
          instrument and how long to play it. There are three parts of each
          note, the note head, the stem, and the flag.
        </p>
        <img
          src="https://www.musicnotes.com/now/wp-content/uploads/2018/02/4.png"
          alt=""
        />
      </div>
    </section>
    <section>
      <div class="coach">
        <img
          src="https://images.squarespace-cdn.com/content/v1/58645daef7e0abc3cf9bfb69/1625473697760-OVD0NDYK69TDUZKAM1HY/Amalia-Foy.jpg?format=500w"
          alt=""
        />
        <h3>Grace Mancey Vocals | Piano</h3>
        <button @click="goTo">contact</button>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  methods: {
    goTo() {
      this.$router.push("/contact");
    },
  },
};
</script>

<style scoped>
.header {
  width: 100%;
  height: 70vh;
  padding: 2em;
  position: relative;
  background-image: -webkit-linear-gradient(
      rgba(2, 0, 0, 0.7),
      rgba(94, 90, 141, 0.7)
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHK_tTVGU42Hn0tC8M3rxNEQ-qGrefQfzXTQ&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;
}
.hero {
  width: 22rem;
  position: absolute;
  top: 30%;
  left: 40%;
  color: white;
}
.hero h1 {
  font-size: 4rem;
  letter-spacing: 1px;
}

.content {
  width: 60rem;
  margin: auto;
  padding: 1em;
  font-family: "Gemunu Libre", sans-serif;
  letter-spacing: 1px;
  font-size: 1.2rem;
  border-bottom: 1px solid orange;
  color: white;
}
.learning {
  width: 60rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em;
  font-family: "Gemunu Libre", sans-serif;
  color: white;
}
img,
p {
  padding: 1em;
}
h3,
h2 {
  padding: 1em;
  color: orange;
}
section {
  background-color: black;
  height: auto;
}
.coach {
  width: 30rem;
  margin: auto;
  height: 90vh;
  background-color: black;
  color: white;
}
button {
  background-color: orange;
  padding: 1em;
  border-radius: 50%;
  color: white;
  font-size: 1.4rem;
}
@media only screen and (max-width: 600px) {
  .header {
    width: 100%;
    height: 30vh;
  }
  .hero {
    position: absolute;
    left: 15%;
  }
  .hero > h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  .content {
    font-size: 0.6rem;
    width: 100%;
  }
  .inner-content {
    max-width: 25rem;
    padding: 1em;
    font-size: 0.6rem;
    margin: auto;
  }
  .learning {
    width: 25rem;
    font-size: 1.4rem;
  }
  .learning,
  p {
    font-size: 0.9rem;
  }
  img {
    max-width: 23rem;
  }
  button {
    height: 8vh;
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 480px) {
  .header {
    width: 100%;
    height: 29vh;
  }
  .hero {
    position: absolute;
    left: 17%;
  }
  .hero > h1 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1rem;
  }
  .content {
    font-size: 0.6rem;
    width: 100%;
  }
  .inner-content {
    max-width: 25rem;
    padding: 1em;
    font-size: 0.6rem;
    margin: auto;
  }
  .learning {
    width: 25rem;
    font-size: 1.4rem;
  }
  .learning,
  p {
    font-size: 0.9rem;
  }
  img {
    max-width: 23rem;
  }
  button {
    height: 8vh;
    font-size: 0.7rem;
  }
  .coach {
    padding: 2em;
  }
}
</style>
