<template>
  <div class="hero">
    <div class="video-container">
      <video autoplay muted loop>
        <source src="~assets/piano.mp4" type="video/mp4" />
      </video>
      <div class="caption">
        <img
          src="https://st2.depositphotos.com/2617209/11446/v/600/depositphotos_114468036-stock-illustration-piano-lessons-logo.jpg"
          alt=""
          class="piano"
        />
      </div>
    </div>
    <b-container class="header">
      <h1>PIANO LESSONS</h1>
      <p>
        Big Music's experienced and inspiring piano teachers are available
        Monday - Saturday for private piano lessons, catering for everyone from
        kids to adults and beginners through to concert pianists.
      </p>
    </b-container>
    <section id="guitar-section">
      <b-container class="">
        <b-row>
          <b-col md="auto" class="img-primery">
            <img
              src="https://www.edmchicago.com/wp-content/uploads/2020/05/piano.jpg"
              alt=""
            />
          </b-col>
          <b-col md="auto" class="description">
            <h1>
              WHY LEARN PIANO AT BIG MUSIC?
            </h1>
            <p>
              Piano lessons at Big Music are fully customised for your goals and
              interests, allowing you to progress at your own pace. ​ We match
              you with your ideal piano teacher based on availability,
              experience and interests. And then with your coach's guidance you
              can choose the songs you want to learn, as well as the theory and
              skills you wish to master. You can choose to learn in our spacious
              Crows Nest studios, or online via Zoom. ​ You can also choose to
              follow a graded curriculum with exams or simply progress along our
              unique Player Evolution system. ​
            </p>
            <div class="rate">
              <h3>CASUAL PIANO LESSON</h3>
              <span>30 Minutes - $62.5</span>
              <h3>WEEKLY PIANO LESSONS</h3>
              <span>30 Minutes - $62.5</span>
            </div>
          </b-col>
          <b-col> </b-col>
        </b-row>
      </b-container>
      <b-container>
        <b-row class="secont-content">
          <b-col md="auto">
            <h1>
              GROUP PIANO CLASSES FOR KIDS
            </h1>
            <transition name="fade">
              <p>
                Group classes are entry-level lessons for kids, with groups no
                larger than 7 students. Each student gets their own quality
                digital keyboard and a set of headphones, allowing them to hear
                only themselves and their coach playing. The classes are a fun
                and social way for kids to be introduced to the piano, learning
                all of the fundamentals over the course of 10 weeks. ​
              </p>
            </transition>

            <h3>GROUP CLASSES</h3>
            <p>10 Weekly Classes - $400 (10 week term)</p>
          </b-col>
          <b-col>
            <img src="https://c.stocksy.com/a/EXo000/z9/194260.jpg" alt="" />
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
export default {
  transition: "home",
};
</script>

<style scoped>
#guitar-section {
  padding: 2em;
}
.video-container {
  height: 500px;
  width: 100%;
  position: relative;
}
.piano {
  opacity: 0.4;
  width: 20rem;
  padding: 2em;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #f5ebeb;
  top: 20%;
  padding: 10px;
}
.before-enter {
  opacity: 0;
  transform: translateY(100px);
  transition: all 2s ease-out;
}
.hero {
  background-color: black;
}
.enter {
  opacity: 1;
  transform: translateY(0px);
}
.header {
  width: 100%;
  height: 40vh;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: black;
  flex-direction: column;
}
h1 {
  padding: 0.3em;
  color: orange;
  font-size: 2rem;
}
p {
  color: white;
}
.header p {
  font-size: 1.8em;
  letter-spacing: 1px;
  color: white;
  padding: 1em;
}
h3 {
  color: orange;
  font-size: 1.4rem;
}
.second-content {
  display: flex;
}
.second-content,
img {
  width: 30rem;
  height: 40vh;
  border-radius: 50%;
}
span {
  color: white;
}
@media only screen and (max-width: 600px) {
}
.video-container {
  width: 100%;
  height: 50vh;
}
img {
  width: 20rem;
  filter: contrast(120%);
}
.caption > img {
  width: 17rem;
  height: 16rem;
  position: absolute;
  left: 30%;
}
h1 {
  font-size: 1.7rem;
}
p {
  font-size: 1.1rem;
}
.header > p {
  font-size: 1.2rem;
}
</style>
