<template>
  <div>
    <CoachesFind />
    <Exp />
  </div>
</template>

<script>
import CoachesFind from "@/components/COACHES/CoachesFind";
import Exp from "@/components/BLOG/Exp";
export default {
  components: {
    CoachesFind,
    Exp,
  },
};
</script>
